<% content_for :navigation_title do %>
  New Service
<% end %>
<p>
  <%= link_to admin_services_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Services
  <% end %>
</p>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Managing Services in Touchpoints
    </h3>
    <div class="usa-summary-box__text">
      <p>
        Touchpoints is designed to support continuous improvement in how public services are designed, delivery, measured.
      </p>
      <p>
        Instructions are at
        https://github.com/GSA/touchpoints/wiki/Service-Definitions
      </p>
      <p>
        All Executive agencies (5 U.S.C. 105) are required to establish processes that identify all of the services that they maintain, both digital and non-digital (21st Century Integrated Digital Experience Act’’ or the ‘‘21st Century IDEA’’). Each HISP will select and define two priority services from the service catalog.
      </p>
      <p>
        For Service Definitions, see page 3 of
        https://www.performance.gov/cx/assets/files/a11_2021-FY22.pdf
      </p>
    </div>
  </div>
</div>

<%= render 'form', service: @service %>
