<% content_for :navigation_title do %>
  Editing Service: <%= @service.name %>
<% end %>

<p>
  <%= link_to admin_service_path(@service) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Service
  <% end %>
</p>

<%= render 'form', service: @service %>

<p>
  <%= link_to admin_service_path(@service), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary" do %>
    <i class="fa fa-trash"></i>
    Destroy
  <% end %>
</p>
