<div class="well">
  <h1>
    Editing a Service
  </h1>
  <%= render 'form', service: @service %>
</div>
<p>
  <%= link_to 'Show', admin_service_path(@service), class: "usa-button" %>
  <%= link_to 'View All Services', admin_services_path, class: "usa-button usa-button--outline" %>
  <%= link_to 'Delete', admin_service_path(@service), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary" %>
</p>
