<h3>
  Background
</h3>
<p>
  Agency:
  <%= @service.organization.name %>
</p>
<p>
  Service:
  <%= @service.name %>
</p>

<p>
  Type of Service: type here [definition of Federal service types]
  Your agency can use this questionnaire to begin to answer questions related to the service you’re setting out to assess (identified above) over the next few months.
  Feel free to summarize across groups of questions, insert charts or graphs, link to websites or other supporting documents that can assist your team as you embark on further efforts (including community outreach, qualitative user research, and further data analysis) to complete your Service Equity Assessments as an input to your overall Agency Equity Assessment.
  Need help?
</p>
<p>
  Join one of our Office Hours:
  <a href="https://community.max.gov/x/QHn5gg">https://community.max.gov/x/QHn5gg</a>
</p>

<hr>

<h3>
  Service Context
</h3>

<p>
  What was happening in the United States that led to the creation of this service?
</p>
<ul>
  <li>
    What was the public need, or policy objective, meant to be achieved with your agency doing this thing?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  What groups / populations does the service seek to serve?
</p>

<ul>
  <li>
    Have those populations changed since inception?
  </li>
  <li>
    Were any groups purposefully excluded from the program/service at any point during its history? If yes, do members of that community report that this exclusion has an impact on their use of the service today?
  </li>
  <li>
    Do any groups use this service differently (e.g., an American citizen, Green card holder, foreign visitor, or an undocumented individual?)
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  What are the main characteristics of your customers that impact their ability to interact with your program/service?
</p>
Type here
<ul>
  <li>
    Do you have data to understand the breakdown of individuals with these characteristics that interact with your program/service? (e.g., individuals with a disability, single
  </li>
  <li>
    parents, hourly-wage earners / individuals with multiple jobs / individuals participating in informal economies, individuals with limited transportation access, housing insecurity, limited-proficiency in English, etc.)
  </li>
  <li>
    When policy changes are made that impact this service, what processes are in place to ensure underrepresented communities are engaged and consulted?
  </li>
</ul>

<textarea name="name" rows="8" cols="80"></textarea>

<h3>
  Service Performance on Equity Issues
</h3>

<p>
  What are the performance measures you hold this program/service to account (e.g., % of under / over payments, # of fraud cases pursued, eligible population participation rate, dollars obligated, reduction in foodborne illness)?
</p>

<ul>
  <li>
    Are the primary things reported on to the public, Congress, or others, outputs? Or outcomes?
  </li>
  <li>
    Do you measure the burden placed on participants, both in terms of time as well as financial cost, of navigating and utilizing the service?
  </li>
  <li>
    Do you evaluate any qualitative performance measures related to potential psychological costs to customers, such as the stress, frustration, or loss of sense of autonomy experience when navigating a service?
  </li>
  <li>
    What types of evaluations does your service regularly conduct to understand the impact of the program? Is is part of your agency’s Learning Agenda?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Can you identify a customer segmentation of who interacts with this service? (e.g., business / family vacation / other travelers, rural vs. urban business owners, working families / single parents / seniors?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Where are the gaps? Who is not using the service / complying with the policy (like filing taxes, taking recommended vaccine series, being taken advantage of by credit card companies because they don’t know their rights) / generating the most approvals and denials? (e.g. OSHA considers who is not reporting workplace safety incidents, rather than those that are more proactively reporting)
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Does this program / service currently have any specific roles or governance structures (e.g. council, underserved population outreach office, etc.) that focus on Equity?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Is usability testing consistently integrated into the development of new services, web applications, and customer-facing administrative processes? Does the agency routinely test, measure, or audit the usability of existing services with real customers?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<h3>
  2B. Additional Questions for Benefits Services
</h3>

<p>
  Who is eligible for the benefits of this program?  Who actually benefits from it? Are there populations who are technically or likely eligible but are under enrolled? Why?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Can you generate participation rates (# of participants / # of eligible individuals) by the groups outlined in the definition of “underserved communities” above?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Are there documented barriers that people of color, people with disabilities, LGBTQ+ people, women, and others who have been historically underserved, marginalized, and adversely affected by persistent poverty and inequality face with regard to this program or service? Do current policies address these barriers?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Do performance measures on balance emphasize program integrity and / or quality of services for recipients?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Is the participation rate regularly and formally evaluated? When making administrative or regulatory changes to a program, do you evaluate potential impacts to program participation?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<h3>
  Service Design
</h3>

<p>
  Does your service require any prior or expert knowledge to use? (e.g. experience with government processes/procedures)
</p>
<ul>
  <li>
    Why or why not?
  </li>
  <li>
    What percentage of claimants who successfully received benefits used third-party support (e.g. non-profit advocacy organizations, legal counsel) while navigating the service experience?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Does your service require an individual to know the name of a Federal agency or office component? (E.g., having to get a sense of which part of USDA offers a program)
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Is your service usable by everyone who needs to use it, regardless of their access to technology, cognitive load based on other life stresses occurring in that moment, digital device access, circumstances or abilities, primary language?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<ul>
  <li>
    Does it require them to learn new rules and ways of working that are different than other services like yours they may use?
  </li>
</ul>

<p>
  Are there any barriers of entry to your service for users based on (we are an online-only program)?
</p>

<ul>
  <li>
    What they can do?
  </li>
  <li>
    Who they are?
  </li>
  <li>
    What they have or don't have access to?
  </li>
</ul>

<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Is your service available in multiple languages?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Are decisions about your service clearly communicated?
</p>
<ul>
  <li>
    Do these letters start with legal language or use regulatory or statutory terminology in place of plain language explanations?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Does your service direct all users to a clear outcome, regardless of whether the user is eligible or suitable to use the service? (E.g., if individuals and some states follow a different procedure, does it direct them to the right place where the next step is provided?)
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Does your service make it easy for a user to contact a help desk or other person for assistance?
</p>
<ul>
  <li>
    Do you offer a call back service if wait time is longer than 5 minutes?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Does the service look and feel like one service throughout, regardless of the channel (web, contact center) it is delivered through? Please provide a description of why this is/is not the case.
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Do users have to move between different offices / agencies / levels of government, get documents from multiple places (webpages, supporting documents, etc.)?
</p>
<ul>
  <li>
    How many “touch points” (i.e. unique encounters or engagements with a government or third-party office) is a customer likely to have during the service experience? Is the government office during each of these touch points looking at the same casefile and information?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Does the agency measure drop-out rates from the application process, or conduct usability testing to measure how quickly a customer is able to navigate a webpage to proceed forward in selecting a service?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  In 2020 did you complete a U.S. Web Design Standards Maturity Model Assessment for your service for 21st Century Integrated Digital Experience Act reporting?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Is the website accessible on a mobile phone? What do users without internet / smart phones do?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Is your service easy to find? Does it use the language that person a person would actually use (e.g., an individual would say "file my taxes" whereas it may be called "individual household filing"…someone who may want to "learn to drive" would need to find their way to "get a driving license")
</p>
<ul>
  <li>
    Why or why not?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  How can individuals access the status of their application / completion of a process?
</p>
<ul>
  <li>
    Can they login somewhere?
  </li>
  <li>
    After submission, do they receive a submission receipt? After submission, do they have the ability to update their application to make corrections or provide additional documentation?
  </li>
  <li>
    Are they notified via a preferred method (Email, text, phone call) when their application status changes?
  </li>
  <li>
    If you need more information from them, in what ways do you contact them?
  </li>
</ul>
<textarea name="name" rows="8" cols="80"></textarea>

<h3>
  3B. Additional Checklist for Benefits Service
</h3>

<p>
  Required action. If your service has the administrative barrier, type X before checkbox and follow up with an explanation.
</p>


<p>
  <input type="checkbox" name="" value="">
  Excessive documentation requirements are a substantial roadblock limiting access to crucial programs and services. Such barriers are also often unnecessary, such as requiring that low-income individuals document assets they are unlikely to have. Indeed, documenting assets is one of the largest barriers people face when trying to access needed benefits. Other documentation barriers may be related to requiring the claimant generate records from third-parties.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Complicated forms or eligibility formulas that require people to compile nuanced and complicated information and documentation negatively affect access by increasing compliance and psychological costs.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Complicated forms or eligibility formulas that require people to compile nuanced and complicated information and documentation negatively affect access by increasing compliance and psychological costs.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Lack of knowledge about programs and their value includes those who are unaware of programs, mistakenly believe they are not eligible or underestimating their value.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  In-person interviews for eligibility or recertification purposes reduce access because of transportation, child care, and work scheduling issues for low wage workers.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Providing only one mode, such as the internet, for benefit applications, updates, and recertification. Online enrollment portals improve program access. But many low-income individuals, elderly individuals, and rural populations lack access to regular internet and broadband, or have limited technological literacy. Conversely, as noted, requiring access to be in-person or requiring pen-and-ink signatures can create other barriers.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Frequent recertification to maintain program eligibility, such as 6 months versus 12 months, increases the likelihood that individuals lose benefits because they fail to fulfill administrative requirements rather than that they become ineligible. Routine post-award reporting requirements, such as having to report changes in the income, employment status, or household arrangements, can also reduce continued participation in benefits programs.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Restricting post-award communication and notices regarding beneficiary requirements or recertifications to the minimum required by statute or regulation. Many benefits programs provide mail-based notice regarding upcoming recertification requirements. A single point-of-contact via a single mode will not maximize the likelihood of successful recertification, especially for beneficiaries who may have changed addresses or other contact information. Proactively working to maintain contact information for housing insecure populations, as well as follow-up notices via phone calls, text messages, and potentially site visits, can help reduce loss-of-benefits due to failure to cooperate.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Fees and co-payments reduce access to services and benefits.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  <input type="checkbox" name="" value="">
  Delays between applying for and receiving benefits restrict access to needed benefits.
</p>
<p>
  If you checked the box, please explain
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<h3>
  Service System
</h3>

<p>
  What other policies or systems does this service interact with? Do these policies or systems impede or enhance the policy’s effectiveness in advancing equity? Consider, for example, market institutions, infrastructure, other federal, state and local government programs, other federal government agencies, and agency processes.
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  To what degree does your Federal office own the delivery of this program / service? (e.g., States administered, contractor vs. Federal employee run service centers, etc.)
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Who are delivery partners that may be implicated or involved in the system surrounding your program/service? Please state even if you don’t have direct involvement with them. (e.g. inter/cross agency, state, local, NGO, private sector)
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  How do you hold your delivery partners accountable and/or influence their behavior? (e.g. service levels, awards, reporting requirements, guidance documents, pay for performance contracts, regulations)
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<p>
  Do you currently partner with any outside agencies or partners to provide subject matter expertise and/or outreach as it relates to your equity efforts? (e.g. NGOs, underserved communities, consultants)
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<h3>
  Take-aways
</h3>

<p>
  What are at least three things your team identified through this process you believe your agency should prioritize in its Equity Action Plan?
</p>
<textarea name="name" rows="8" cols="80"></textarea>

<br>
<br>
<br>
