<div class="well">
  <h1>New Service</h1>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">About Services in Touchpoints</h3>
      <p class="usa-alert__text">
        Touchpoints allows Agencies to manage Services
        (in the <em>Service Design</em> sense of the word).
        <br>
        A Service Manager manages one or more Services for an Organization.
        A Service may have one or more Touchpoints. Each Touchpoint has a Form,
        and the Form is created from a Form Template.
      </p>
    </div>
  </div>
  <p class="usa-alert">
    The minimal Service is composed of a 1) Start Event
    and 2) End Event. Most Services have one or more Events
    in between the Start and End events.
    A Touchpoint may be attached to any Event in a Service
    and is used for collecting feedbackn on the Service.
  </p>
  <%= render 'form', service: @service %>
</div>
<p>
  <%= link_to 'All Services', admin_services_path, class: "usa-button usa-button--outline" %>
</p>
