<% content_for :navigation_title do %>
  New Service
<% end %>
<p>
  <%= link_to admin_services_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Services
  <% end %>
</p>
<div class="grid-row">
  <div class="grid-col-12">
    <div
      class="usa-summary-box"
      role="region"
      aria-labelledby="summary-box-key-information">
      <div class="usa-summary-box__body">
        <h3 class="usa-summary-box__heading" id="summary-box-key-information">
          Managing a list of Services
        </h3>
        <div class="usa-summary-box__text">
          <p>
            Touchpoints exists to support continuous improvement in how public services are designed, delivered, and measured.
          </p>
          <p>
            All Executive agencies (5 U.S.C. 105) are required to establish processes
            that identify all of the services that they maintain,
            both digital and non-digital, per the
            <a href="https://www.congress.gov/bill/115th-congress/house-bill/5759/text" target="_blank" rel="noopener">21st Century Integrated Digital Experience Act</a>.
            See <a href="https://www.performance.gov/cx/assets/files/2022-OMB-Circular-A11-Section-280.pdf" target="_blank" rel="noopener">OMB Circular A-11 Section 280</a>
            for more information regarding Service Definitions.
          </p>
          <p>
            Additional instructions can be found on the
            <a href="https://github.com/GSA/touchpoints/wiki/Service-Definitions/" target="_blank" rel="noopener">Touchpoints wiki</a>.
          </p>
        </div>
      </div>
    </div>

    <%= render 'form', service: @service %>
  </div>
</div>
