<%= form_with(model: @service_provider, url: admin_service_provider_path(@service_provider), local: true) do |f| %>
	<div class="grid-row">
	  <div class="grid-col-12">
	  	<h3>Service Provider Managers</h3>
	  	<p class="service-manager-list">
			<ul class="usa-list usa-list--unstyled">
				<% @service_provider.service_provider_managers.each do |manager| %>
				<li style="margin-bottom: 3px;">
					<span class="usa-tag">
					   <%= manager.email %>
					</span>
          &nbsp;
					<a href="javascript:void(0);" class="remove-manager-link" data-value="<%= manager.id %>">
						<span class="fa fa-trash"></span>
					</a>
				</li>
	  			<% end %>
			</ul>
	  	<p>
	  </div>
	</div>
  <%= f.select :service_manager_id, options_for_select(service_provider_manager_options.map { |u| [u.email, u.id] }), { prompt: "Choose a Manager?" }, { class: "usa-select add-service-manager" } %>
<% end %>
<script>
  $(".add-service-manager").change(function(e) {
  	event.preventDefault();
  	var thisForm = $(this).closest("form");
  	$.ajax({
  	  url: thisForm.attr("action") + "/add_service_provider_manager",
  	  type: 'post',
  	  data: "user_id=" + $(this).val()
  	});
  });
  $(".remove-manager-link").click(function(e) {
    event.preventDefault();
    var thisForm = $(this).closest("form");
    $.ajax({
      url: thisForm.attr("action") + "/remove_service_provider_manager",
      type: 'post',
      data: "user_id=" + $(this).attr("data-value")
    });
  });
</script>
