<%= javascript_include_tag "chartjs-3.9.1.js" %>

<% content_for :navigation_title do %>
  <%= @service_providers.size %>
  Service Providers
<% end %>

<p>
  <%= link_to admin_service_providers_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Service Providers
  <% end %>
</p>

<br>

<canvas id="myChart" width="100" height="100"></canvas>

<br>
<br>
<script>
const ctx = document.getElementById('myChart').getContext('2d');

const quadrants = {
  id: 'quadrants',
  beforeDraw(chart, args, options) {
    const {ctx, chartArea: {left, top, right, bottom}, scales: {x, y}} = chart;
    const midX = x.getPixelForValue(0);
    const midY = y.getPixelForValue(0);
    ctx.save();
    ctx.fillStyle = options.topLeft;
    ctx.fillRect(left, top, midX - left, midY - top);
    ctx.fillStyle = options.topRight;
    ctx.fillRect(midX, top, right - midX, midY - top);
    ctx.fillStyle = options.bottomRight;
    ctx.fillRect(midX, midY, right - midX, bottom - midY);
    ctx.fillStyle = options.bottomLeft;
    ctx.fillRect(left, midY, midX - left, bottom - midY);
    ctx.restore();
  }
};

const myChart = new Chart(ctx, {
  type: 'scatter',
  data: {
    datasets: [
      {
        label: 'Service Providers',
        data: <%= raw ServiceProvider.active.map { |provider| {
          x: -5 + (provider.cx_maturity_mapping_value), 
          y: -50 + (provider.impact_mapping_value),
          text: provider.organization.name + " - " + provider.name  
        } }.to_json %>,
        borderColor: "blue",
        backgroundColor: "white",
      }
    ]
  },
  options: {
    plugins: {
      quadrants: {
        topLeft: "#fce2c5",
        topRight: "#f5fbc1",
        bottomRight: "#fdb8ae",
        bottomLeft: "#dae9ee",
      },
      tooltip: {
                callbacks: {
                    label: function(context) {
                      return context.raw.text;
                  },
                }
            }
    },
    scales: {
      y: {
        min: -50,
        max: 50,
        title: {
          display: true,
          text: "impact"
        }
      },
      x: {
        min: -5,
        max: 5,
        title: {
          display: true,
          text: "maturity"
        }
      }
    },
  },
  plugins: [quadrants],
  responsive: true,
  maintainAspectRatio: true
});
</script>