<%= form_with(model: persona, url: admin_persona_path(persona), local: true) do |f| %>
  <div class="grid-row">
    <div class="grid-col-12">
      <label class="usa-label margin-top-0" for="tags">
        Tags
      </label>
      <%= f.text_field :tag_list, placeholder: "Add a tag" , value: nil, class: "usa-input tag-input" %>
      <div class="tag-list margin-top-1">
        <ul class="usa-list usa-list--unstyled">
          <% persona.tag_list.sort.each do |tag| %>
          <li>
            <span class="usa-tag">
              <%= tag %>
            </span>
            <a href="javascript:void(0);" class="remove-tag-link" data-value="<%= tag %>">
              <span class="fa fa-trash"></span>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<script>
  $(function() {

    $(".tag-input").on("blur", function(event) {
      event.preventDefault();
      var thisForm = $(this).closest("form");
      $.ajax({
        url: thisForm.attr("action") + "/add_tag",
        type: 'post',
        data: "persona[tag_list]=" + $(".tag-input").val()
      });
    });

    $(".tag-input").on("keypress", function (e) {
      if (e.which == 13) {
        document.activeElement.blur();
        return false;
      }
    });

    $(".remove-tag-link").on("click", function(e) {
      event.preventDefault();
      var thisForm = $(this).closest("form");
      $.ajax({
        url: thisForm.attr("action") + "/remove_tag",
        type: 'post',
        data: "persona[tag_list]=" + $(this).attr("data-value")
      });
    });

  });
</script>
