<h3>
  Agency Summary
</h3>
<table class="usa-table" style="width: 100%;">
  <thead>
    <tr>
      <th data-sortable scope="col">
        Agency
      </th>
      <th data-sortable scope="col">
        All Forms
      </th>
      <th data-sortable scope="col">
        Active Forms
      </th>
    </tr>
  </thead>
  <tbody>
    <% agencies.each do |agency| %>
    <tr class="agency_tr<%= agency.id %>">
      <td class="reportable-agencies">
        <%= link_to agency.name, admin_organization_path(agency) %>
      </td>
      <td class="reportable-total-forms">
        <%= forms.select { | form | form.organization_id == agency.id }.count %>
      </td>
      <td class="reportable-active-forms">
        <%= forms.select { | form | (form.organization_id == agency.id) && form.live? }.count %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
