<span class="usa-tag <%= 'bg-mint' if collection.draft? -%> <%= 'bg-accent-cool' if collection.submitted? -%> <%= 'bg-accent-warm' if collection.change_requested? -%>">
  <%= collection.aasm_state %>
</span>
