<div id="fba-modal" class="hide">
  <div id="fba-modal-dialog">
    <h3 id="fba-modal-title"></h3>
    <a id="fba-modal-close" type="button" class="close-button" href="#">×</a>
    <p id="fba-instructions">
      <h4>
        This is a U.S. government service.
      </h4>
      <p>
        Touchpoints is a U.S. General Services Administration federal government service,
        for official use by U.S. government employees and contractors working on U.S. government digital services.
        All use of Touchpoints may be monitored, recorded, and subject to audit,
        by Touchpoints operations staff and other federal government authorities.
        There is no expectation of privacy for users of this system.
        By continuing to use this system, you consent to your use being monitored and recorded.
        Unauthorized use is prohibited, and individuals found performing unauthorized activities are subject to disciplinary action including criminal prosecution.
        Acceptable uses of Touchpoints include providing feedback regarding government digital services,
        making and trying test services to learn about how Touchpoints works,
        and activities contributing to the development of Touchpoints itself.
        We describe these intended uses (along with guidelines and policies) in more detail in the Touchpoints documentation.
        If you have questions about these conditions, please email feedback-analytics@gsa.gov.
      </p>

      <div style="text-align: right;">
        <button type="button" name="button" class="usa-button close-button">Hide details</button>
      </div>
    </p>
  </div>
</div>
