<div class="well margin-top-1">
  <h3>
    Event log
  </h3>

  <div class="events">
  <%- if events.present? %>
    <ol class="usa-process-list" reversed>
    <% events.each do |event| %>
      <li class="usa-process-list__item">
        <div class="usa-process-list__heading font-sans-sm">
          <%= event.name %>
        </div>
        <p class="font-sans-2xs margin-top-05">
          <%- if event.user_id %>
          by
          <%= event.user ? link_to(event.user.email, admin_user_path(event.user)) : "Deleted User #{event.user_id}" %>
          <% end %>
          <br>
          <%= time_ago_in_words(event.created_at) %> ago
          &middot;
          <%= format_time(event.created_at, current_user.time_zone) %>
        </p>
      </li>
    <% end %>
    </ol>
  <% else %>
    No events logged.
  <% end %>
  </div>
</div>
