<% unless flash.empty? %>
<div class="margin-top-2 margin-bottom-2">
  <%- if flash[:success] %>
  <div class="usa-alert usa-alert--success">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:success].html_safe %>
      </p>
    </div>
  </div>
  <% end %>
  <%- if flash[:notice] %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:notice].html_safe %>
      </p>
    </div>
  </div>
  <% end %>
  <%- if flash[:alert] %>
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:alert].html_safe %>
      </p>
    </div>
  </div>
  <% end %>
  <%- if flash[:error] %>
  <div class="usa-alert usa-alert--error">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:error].html_safe %>
      </p>
    </div>
  </div>
  <% end %>
</div>
<% end %>
