<% unless flash.empty? %>
  <% if flash[:success] %>
  <div class="usa-alert usa-alert--success">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:success] %>
      </p>
    </div>
  </div>
  <% end %>
  <% if flash[:notice] %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:notice] %>
      </p>
    </div>
  </div>
  <% end %>
  <% if flash[:alert] %>
  <div class="usa-alert usa-alert--warning">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:alert] %>
      </p>
    </div>
  </div>
  <% end %>
  <% if flash[:error] %>
  <div class="usa-alert usa-alert--error">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        <%= flash[:error] %>
      </p>
    </div>
  </div>
  <% end %>
<% end %>
