<% return if current_path == "/users/sign_in" %>
<hr class="light">
<footer class="usa-grid">
  <section class="usa-width-one-half">
    <ul class="footer-links">
      <li>
        <%= link_to "Touchpoints home", root_url %>
      </li>
      <li>
        <a href="mailto:feedback-analytics@gsa.gov">
          Get help for customer issues</a>
      </li>
      <li>
        <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/office-of-products-and-programs">
          Built and maintained by OPP</a>
      </li>
    </ul>
  </section>
  <section class="usa-width-one-half">
    <ul class="footer-info">
      <li>
        A United States government application
      </li>
      <li>
        <a href="https://github.com/GSA/touchpoints/blob/master/LICENSE.md">
          Open source and in the public domain</a>
      </li>
      <li>
        <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/">
          Vulnerability disclosure policy</a>
      </li>
    </ul>
  </section>
</footer>
