<% return nil if current_path == "/users/sign_in" %>
<hr class="hr">
<footer class="grid-container-widescreen">
  <div class="grid-row">
    <div class="grid-col-6">
      <ul class="footer-links">
        <li>
          <%= link_to "Terms of Service", "https://touchpoints.digital.gov/terms/", class: "usa-link", target: "_blank", rel: "noopener" %>
        </li>
        <li>
          <a href="mailto:feedback-analytics@gsa.gov" class="usa-link">
            Customer support</a>
        </li>
        <li>
          <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/tts-solutions#data" target="_blank" rel="noopener" class="usa-link">
            Built and maintained by TTS Solutions</a>
        </li>
      </ul>
    </div>
    <div class="grid-col-6">
      <ul class="footer-info">
        <li>
          A United States government application
        </li>
        <li>
          <a href="https://github.com/GSA/touchpoints/blob/main/LICENSE.md" class="usa-link">
            Open source and in the public domain</a>
        </li>
        <li>
          <a href="https://18f.gsa.gov/vulnerability-disclosure-policy/" class="usa-link">
            Vulnerability disclosure policy</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
