<a class="usa-skipnav" href="#main-content">Skip to main content</a>
<div style="text-align: center; background-color: lightyellow; padding: 1em;">
  This website is currently in
  <a href="https://18f.gsa.gov/dashboard/stages/#beta" target="_blank">beta</a>.
  Please <a href="https://github.com/gsa/touchpoints/issues/new" target="_blank">report an issue</a>
  or
  <a href="mailto:feedback-analytics@gsa.gov">contact</a> the
  Feedback Analytics Team.
</div>
<header class="usa-header usa-header-extended" role="banner">
  <div class="usa-navbar">
    <div class="usa-logo" id="extended-logo">
      <em class="usa-logo-text">
        <a href="/" title="Home" aria-label="Home">
          Touchpoints
        </a>
      </em>
    </div>
    <button class="usa-menu-btn">Menu</button>
  </div>
  <nav role="navigation" class="usa-nav">
    <div class="usa-nav-inner">
      <button class="usa-nav-close">
        <%= image_tag "close.svg", alt: "close" %>
      </button>
    </div>
  </nav>
</header>
<div class="usa-overlay"></div>
<main id="main-content"></main>
