<div width="100%" class="bg-base">
    <div class="grid-container">
        <div class="grid-row">
            <div class="grid-col-12">
                <div class="public-footer-left">
                    <a href="/">
                        <%= image_tag "android-chrome@512x512.png", class: "public-footer-icon", alt: (t 'touchpoints') %>
                    </a>
                    <span class="public-footer-text">
                        <%= t 'powered_by' %> <a href="/" style="color:white;">
                            <%= t 'touchpoints' %></a></span>
                </div>
                <div class="public-footer-right">
                    <span class="public-footer-text">
                        <%= t 'omb_approval' %></span>
                </div>
            </div>
        </div>
    </div>
</div>