<section class="usa-section bg-white padding-2">
  <div class="grid-container">
    <div class="usa-alert usa-alert--warning margin-bottom-2">
      <div class="usa-alert__body">
        <h3 class="usa-alert__text">
          <strong>U.S. Digital Registry will sunset October 31, 2024</strong>
        </h3>
        <p>
          The <strong>U.S. Digital Registry</strong> features in Touchpoints
          will be officially deprecated on <strong>October 31, 2024</strong>.
          After this date, the features will no longer be available.
          The data will remain
          <%= link_to "online", "https://github.com/GSA/touchpoints/wiki/API", target: "_blank", rel: "noopener" %>
          until that date, then archived.
        </p>
        <p class="font-sans-xs text-base">
            The U.S. Digital Registry originated in OMB Memorandum M-17-06, stating agencies must register their public-facing digital services such as social media, collaboration accounts, mobile apps and mobile websites.
            In September 2023, M-17-06 was rescinded by M-23-22 - Delivering a Digital-First Public Experience.
        </p>
        <p class="font-sans-xs text-base">
            The Social Media Community of Practice exists to connect digital managers and specialists at federal agencies as part of an effort aimed at improving how digital engagement programs are created, adopted, and evaluated.
        </p>
        <p>
          If you have any questions or need assistance, please contact:
          <a href="mailto:feedback-analytics@gsa.gov" class="usa-link">feedback-analytics@gsa.gov</a>
        </p>
      </div>
    </div>
  </div>
</section>