<div class="well">
  <h3>
    Weekly Product & Program Use Metrics
  </h3>
  <table class="usa-table">
    <tr>
      <td>
        Agencies with Forms
      </td>
      <td>
        Unique Forms (per OMB Approval Number)
      </td>
      <td>
        Responses
      </td>
    </tr>
    <tr>
      <td class="reportable-organizations">
        <%= forms.collect(&:organization_id).uniq.size %>
      </td>
      <td class="reportable-forms">
        <% non_omb_touchpoints = forms.select { |f| !f.omb_approval_number.present? }.collect(&:omb_approval_number).size %>
        <% omb_touchpoints = forms.select { |f| f.omb_approval_number.present? }.collect(&:omb_approval_number).uniq.size %>
        <% reportable_touchpoints = non_omb_touchpoints + omb_touchpoints %>
        <%= reportable_touchpoints %>
      </td>
      <td class="reportable-submissions">
        <%= Submission.count %>
      </td>
    </tr>
  </table>
</div>
