<div class="well">
  <% @touchpoints = Touchpoint.all %>
  <h3>
    Weekly Product & Program Use Metrics
  </h3>
  <table class="usa-table">
    <tr>
      <td>
        Agencies with Touchpoints
      </td>
      <td>
        Unique Touchpoints (per OMB Approval Number)
      </td>
      <td>
        Responses
      </td>
    </tr>
    <tr>
      <td>
        <%= @touchpoints.collect(&:organization_id).uniq.size %>
      </td>
      <td>
        <% non_omb_touchpoints = @touchpoints.select { |tp| !tp.omb_approval_number.present? }.collect(&:omb_approval_number).size %>
        <% omb_touchpoints = @touchpoints.select { |tp| tp.omb_approval_number.present? }.collect(&:omb_approval_number).uniq.size %>
        <% reportable_touchpoints = non_omb_touchpoints + omb_touchpoints %>
        <%= reportable_touchpoints %>
      </td>
      <td>
        <%= Submission.count %>
      </td>
    </tr>
  </table>
</div>
