<div class="question-menu-action">
  <%= link_to edit_admin_form_question_path(form, question),
    class: "usa-button usa-button--base margin-right-0 form-edit-question",
    data: { id: question.id },
    "aria-label" => "Edit" do %>
    <i class="fa fa-pencil-alt"></i>
  <% end %>
</div>
