<div class="grid-row">
  <div class="grid-col-12">
  <h3>Objective tags</h3>
  <small>
    Help people find your objective and see how it relates to other priorities.
    <br>
    These tags will be used to organize your objective into common policy areas.
  </small>
  </div>
</div>
<%= form_with(model: @objective, url: admin_goal_objective_path(@objective.goal, @objective), local: true) do |f| %>
  <div class="grid-row">
    <div class="grid-col-6">
      <div class="tag-list">
        <ul class="usa-list usa-list--unstyled">
          <% @objective.tag_list.sort.each do |tag| %>
          <li>
            <span class="usa-tag">
              <%= tag %>
            </span>
            <a href="javascript:void(0);" class="remove-tag-link" data-value="<%= tag %>">
              <span class="fa fa-trash"></span>
            </a>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="grid-col-6">
      <%= f.select :tag_list, @objective_tags_for_select, {}, { multiple: true, class: "usa-select tags-select" } %>
    </div>
  </div>
<% end %>
<script>
  $(function() {

    $(".tags-select").change(function(event) {
      event.preventDefault();
      var thisForm = $(this).closest("form");
      $.ajax({
        url: thisForm.attr("action") + "/add_tag",
        type: 'post',
        data: "objective[tag_list]=" + encodeURIComponent($(this).val())
      });
    });

    $(".remove-tag-link").click(function(e) {
      event.preventDefault();
      var thisForm = $(this).closest("form");
      $.ajax({
        url: thisForm.attr("action") + "/remove_tag",
        type: 'post',
        data: "objective[tag_list]=" + encodeURIComponent($(this).attr("data-value"))
      });
    });

  })
</script>
