<% content_for :navigation_title do %>
  Editing Objective
<% end %>
<p>
  <%= link_to admin_objective_path(@objective) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Objective
  <% end %>
</p>


<%= render 'form', objective: @objective %>

<%= link_to 'Show', admin_objective_path(@objective) %> |
<%= link_to 'Back', admin_objectives_path %>
