<div class="grid-row grid-gap-lg">
  <div class="tablet:grid-col-6">
    <%= render 'form', objective: @objective %>
  </div>
  <div class="tablet:grid-col-6">
    <% if @objective.persisted? %>
    <div class="well">
      <div class="tags-div">
        <%= render 'admin/objectives/tags', objective: @objective %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= link_to 'Cancel', admin_goal_path(@goal), class: "usa-button cancel-goal-objective" %>

<script>
  $(function() {

    $('.cancel-goal-objective').on("click", function(event) {
      event.preventDefault();

      $.ajax({
        type: "GET",
        url: $(this).attr("href") + "/goal_objectives"
      });
    });

  });
</script>
