openapi: "3.0.0"
info:
  version: 1.0.0
  title: Touchpoints
servers:
  - url: https://api.gsa.gov/analytics/touchpoints/v0
  - url: https://api.gsa.gov/analytics/touchpoints/v1
paths:
  /forms:
    get:
      summary: List all forms
      operationId: forms
      tags:
        - forms
        - surveys
      parameters:
        - name: id
          in: id
          description: Short UUID of the form
          required: true
          schema:
            type: string
      responses:
        '200':
          description: An array of forms
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agencies"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /forms/{formId}:
    get:
      summary: Info for a specific form
      operationId: forms#show
      tags:
        - forms
        - surveys
        - responses
        - submissions
        - feedback
      parameters:
        - name: formId
          in: path
          required: true
          description: The short uuid of the form to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Agency"
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: query
      name: API_KEY
  schemas:
    Form:
      required:
        - id
      properties:
        id:
          type: string
        name:
          type: string
        tag:
          type: string
        info_url:
          type: string
        mobile_app_count:
          type: integer
          format: int32
        social_media_count:
          type: integer
          format: int32
    Forms:
      type: array
      items:
        $ref: "#/components/schemas/Agency"
    Submission:
      type: array
      items:
        $ref: "#/components/schemas/Agency"
    Submissions:
      type: array
      items:
        $ref: "#/components/schemas/Agency"
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
security:
  - ApiKeyAuth: []
