<h1>Editing Form Section</h1>

<%= render 'form', form_section: @form_section %>

<%= link_to 'Show', admin_form_form_section_path(@form, @form_section) %> |
<%= link_to 'Back', admin_form_form_sections_path(@form) %>
