<% content_for :navigation_title do %>
  Live Surveys Without Submissions by Agency
<% end %>
<h2>Having no form submissions for the past 3 months</h2>
<div class="agency-survey-no-submissions-report">
  <% @org_summary.each do | org | %>
    <% next if org[:forms].size == 0 %>
    <div class="well">
      <h3>
        <%= org[:name] %>
      </h3>
      <table class="usa-table">
        <thead>
        <tr>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
          <% org[:forms].each do |form| %>
        <tr>
          <td>
            <%= link_to form[:name], admin_form_path(form[:short_uuid]) %>
          </td>
        </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
