<%= render 'user_mailer/components/header' %>
<h3>Account deactivation scheduled in <%= @active_days %> days.</h3>
<p>
  Your account is scheduled to be deactivated in <%= @active_days %> days due to inactivity.
</p>
<p>
  Login to Touchpoints at <%= link_to ENV.fetch("INDEX_URL"), ENV.fetch("INDEX_URL") %> to keep your account active.
</p>
