<div class="email-header">
    <%= image_tag(attachments['logo.png'].url) %>
</div>
<h3>User account deactivated</h3>
<p>
  Account <%= @user.email %> was deaactivated on <%= Date.today %>.
</p>
<p>
  Login to Touchpoints at <%= root_url %>
</p>
