<p>
    A Touchpoints export was initiated at <%= @start_time %>,
    and completed at
    <%= @completion_time %>.
    The file contains
    <%= number_with_delimiter(@record_count) %> records.
</p>
<p>
    The report is available at
    <%= @export_url %>.
</p>