<%= render 'user_mailer/components/header' %>
<h3>
  CSCRM Data Collection Notification
</h3>
<p>
  Updates to the CSCRM Data Collection,
  <%= @cscrm_data_collection.id %>
  have occurred.
</p>
<p>
  Visit
  <a href="<%= admin_cscrm_data_collections2_url(@cscrm_data_collection) %>">
    <%= admin_cscrm_data_collections2_url(@cscrm_data_collection) %>
  </a> to view.
</p>
