<%= render 'user_mailer/components/header' %>
<p>
Hi,
</p>

<p>
The form <%= link_to @form.name, admin_form_url(@form) %> is published in Touchpoints,
but has not received a response in at least <%= @days_ago %> days.
</p>

<p>
Please consider archiving the form in Touchpoints if the form is no longer in use.
</p>

<p>
Or, if you want to discuss how to potentially increase feedback,
please get in touch at <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a>.
</p>

Touchpoints Team
<br>
Feedback Analytics Program
<br>
Web Tools Portfolio
<br>
<a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/tts-solutions">
  Technology Transformation Services
</a>
<br>
<a href="https://www.gsa.gov/">
  US General Services Administration
</a>