<div class="email-header">
  <%= image_tag(attachments['logo.png'].url, alt: "Touchpoints logo") %>
</div>
<h3>
  Form is expiring soon.
</h3>
<p>
  The form, <%= link_to @form.name, admin_form_url(@form) %><%=  %>, will expire on <%= @form.expiration_date %>.
</p>
