<p>
You recently archived the form, <%= @form.title %> in Touchpoints.
</p>

<p>
The form was created <%= time_ago_in_words(@form.created_at) %>.
</p>

<p>
The form received <%= @form.response_count %> responses.
</p>

<p>
We want to make Touchpoints better based on your feedback.
</p>

<p>
Please provide feedback regarding the Touchpoints application or the Touchpoints team at https://touchpoints.app.cloud.gov/touchpoints/13432/submit.
</p>
