<%= render 'user_mailer/components/header' %>
<h3>You have been invited to Touchpoints</h3>
<p>
  <%= @user.email %>
  has invited you to Touchpoints.
</p>
<p>
  Please visit the following link to sign up:
  <%= link_to "Touchpoints", ENV.fetch("INDEX_URL") %>.
</p>
