<div class="email-header">
    <%= image_tag(attachments['logo.png'].url) %>
</div>
<h3>New user account created</h3>
<p>
    You've successfully registered account <%= @user.email %> on <%= Date.today %>.
</p>
<p>
  You will be notified of what action to take next...
</p>