<div class="email-header">
  <%= image_tag(attachments['logo.png'].url, alt: "Touchpoints logo") %>
</div>
<h3>New user account created</h3>
<p>
  <%= @user.email %> was created on <%= Date.today %>.
</p>
<p>
  Login to Touchpoints at <%= link_to ENV.fetch("INDEX_URL"), ENV.fetch("INDEX_URL") %>
</p>
