<h1>New User Account Creation Failed, No Organization Found</h1>

<p>
  Registration failed for new user account with email <%= @user.email %> on <%= Date.today %>.  No organization matching email domain was found.
</p>