<div class="email-header">
    <%= image_tag(attachments['logo.png'].url) %>
</div>
<h3>New user account creation failed</h3>

<p>
  Your attempt to register account <%= @user.email %> on <%= Date.today %> could not be completed.  No organization matching that domain was found.
</p>
<p>
  You will be notified of what action to take next...
</p>