<h1>New User Added to Org <%= @user.organization.domain %></h1>

<p>
  A new user account with email <%= @user.email %> was added to organization <%= @user.organization.domain %>  on <%= Date.today %>
</p>