<%= render 'user_mailer/components/header' %>
<h3>
  Response Notification
</h3>
<p>
  New feedback has been submitted to your form, <%= @form.name %>.
</p>
<p>
  Visit
  <a href="<%= responses_admin_form_url(@form) %>">
    <%= responses_admin_form_url(@form) %>
  </a>
  to view.
</p>
