<div class="email-header">
    <%= image_tag(attachments['logo.png'].url) %>
</div>
<h3>
  Touchpoints.gov Submission Notification
</h3>
<p>
  New feedback has been submitted to your form, <%= @touchpoint.name %>.
</p>
<p>
  Visit <a href="<%= touchpoint_url(@touchpoint) %>"><%= touchpoint_url(@touchpoint) %></a> to view.
</p>
