<%= render 'user_mailer/components/header' %>
<p>
Hi,
</p>
<p>
  I received a notification that you recently logged into Touchpoints
  so I wanted to introduce myself and let you know our Feedback Analytics team is available
  if you have any questions about the product, customer feedback, or data reporting.
</p>

<h4>
  Links
</h4>
<p>
For more information about Touchpoints:
</p>

<ul>
  <li>
    Slides - Touchpoints Product Overview
  </li>
  <li>
    GitHub Open-source code repository
  </li>
  <li>
    Touchpoints Product wiki
  </li>
  <li>
    Touchpoints API
  </li>
  <li>
    Provide product feedback
  </li>
  <li>
    And, please contact feedback-analytics@gsa.gov for any questions at all
  </li>
</ul>

<p>
  We're here to help 👋
</p>

--

Touchpoints Team
<br>
Web Tools Portfolio · Feedback Analytics Program
<br>
Technology Transformation Services
<br>
US General Services Administration