<%= render 'user_mailer/components/header' %>

<p>
  Hi <%= @user.email %>,
</p>

<p>
Touchpoints accounts are automatically inactivated
after 30 days without login, per security policy.
But, your Touchpoints account has now been reactivated.
</p>

<p>
Any questions, please us know,
</p>

<br>
--
<br>

<a href="https://touchpoints.digital.gov/">
  Touchpoints Team
</a>
<br>
Feedback Analytics Program
<br>
Web Tools Portfolio
<br>
<a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/tts-solutions">
  Technology Transformation Services
</a>
<br>
<a href="https://www.gsa.gov/">
  US General Services Administration
</a>