<%= render 'user_mailer/components/header' %>
<p>
  Hi,
</p>
<p>
  We received a notification that you recently logged into Touchpoints,
  so we wanted to welcome you and let you know that our Feedback Analytics team is available
  if you have any questions about the product, customer feedback, or data reporting.
</p>

<h4>
  Links
</h4>
<p>
For more information about Touchpoints:
</p>

<ul>
  <li>
    <a href="https://touchpoints.digital.gov">Documentation site</a> 
  </li>
  <li>
    GitHub:
    <ul>
      <li>
        <a href="https://github.com/GSA/touchpoints">Open-source code repository</a> 
      </li>
      <li>
        <a href="https://github.com/gsa/touchpoints/wiki">Touchpoints product wiki</a> 
      </li>
    </ul>
  </li>
  <li>
    <a href="https://touchpoints.app.cloud.gov/touchpoints/92b47c29/">Provide product feedback</a> 
  </li>
  <li>
    Check out other GSA <a href="https://tts.gsa.gov/services/products/">TTS Products</a> 
  </li>
  <li>
    And, please email
    <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a> 
    for any questions at all
  </li>
</ul>

<p>
  We're here to help. 👋
</p>

<br>
--
<br>

Touchpoints Team
<br>
Feedback Analytics Program
<br>
Digital Services Division
<br>
<a href="https://tts.gsa.gov/">
  Technology Transformation Services
</a>
<br>
<a href="https://www.gsa.gov/">
  US General Services Administration
</a>