<%= render 'user_mailer/components/header' %>
<p>
  Hi,
</p>
<p>
  We received a notification that you recently logged into Touchpoints
  so I wanted to introduce myself and let you know our Feedback Analytics team is available
  if you have any questions about the product, customer feedback, or data reporting.
</p>

<h4>
  Links
</h4>
<p>
For more information about Touchpoints:
</p>

<ul>
  <li>
    Slides - 
    <a href="https://touchpoints.digital.gov/assets/files/GSA-Touchpoints-Product-Overview.pdf">Touchpoints Product Overview</a> 
  </li>
  <li>
    GitHub:
    <ul>
      <li>
        <a href="https://github.com/GSA/touchpoints">Open-source code repository</a> 
      </li>
      <li>
        <a href="https://github.com/gsa/touchpoints/wiki">Touchpoints Product wiki</a> 
      </li>
      <li>
        <a href="https://github.com/gsa/touchpoints/wiki/api">Touchpoints API</a> 
      </li>
    </ul>
  </li>
  <li>
    <a href="https://touchpoints.app.cloud.gov/touchpoints/92b47c29/submit">Provide product feedback</a> 
  </li>
  <li>
    And, please email
    <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a> 
    for any questions at all
  </li>
</ul>

<p>
  We're here to help 👋
</p>

<br>
--
<br>

<a href="https://touchpoints.digital.gov/">
  Touchpoints Team
</a>
<br>
Feedback Analytics Program
<br>
Web Tools Portfolio
<br>
<a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services/tts-solutions">
  Technology Transformation Services
</a>
<br>
<a href="https://www.gsa.gov/">
  US General Services Administration
</a>