<%= render 'user_mailer/components/header' %>
<h1>
  Website Data Collection Request
</h1>
<p>
  Hi <%= @email %>,
</p>
<p>
  You are receiving this email because you are identified as a website manager for one or more GSA websites:
</p>
<p>
  <ul>
    <% @websites.each do | website | %>
    <li>
      <%= link_to website.domain, admin_website_url(website) %>
    </li>
    <% end %>
  </ul>
</p>
<p>
  Please <a href="https://touchpoints.app.cloud.gov/admin/websites">log into Touchpoints</a> to validate and/or update your website records.
</p>
<p>
  For questions, contact the
  <%= link_to "https://touchpoints.app.cloud.gov/touchpoints/1fc9c962/", target: "_blank" do %>
    EDX (Enterprise Digital Experience)<% end %> team.
</p>
