<div id="<%= dom_id ivn_source_component_link %>">
  <p>
    <strong>From:</strong>
    <%= ivn_source_component_link.from_id %>
  </p>

  <p>
    <strong>To:</strong>
    <%= ivn_source_component_link.to_id %>
  </p>

</div>
