<h1>New ivn source component link</h1>

<%= render "form", ivn_source_component_link: @ivn_source_component_link %>

<br>

<div>
  <%= link_to "Back to ivn source component links", admin_ivn_source_component_links_path %>
</div>
