<div id="<%= dom_id ivn_source %>">
  <p>
    <strong>Name:</strong>
    <%= ivn_source.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ivn_source.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ivn_source.url %>
  </p>

</div>
