<h1>Editing ivn source</h1>

<%= render "form", ivn_source: @ivn_source %>

<br>

<div>
  <%= link_to "Show this ivn source", [:admin, @ivn_source] %> |
  <%= link_to "Back to ivn sources", admin_ivn_sources_path %>
</div>
