<div class="border border-base-lighter padding-2 margin-bottom-2">
  <div class="margin-bottom-2">
    <span class="usa-tag bg-blue">
      for Website Contacts
    </span>
  </div>

  <% if organizational_website_manager_permissions?(user: current_user) && website.in_development? %>
  
  <% if website.in_development? %>
    <%= link_to stage_admin_website_path(website), class: "usa-button bg-accent-cool-dark full-width", method: :post do %>
      <span class="fa fa-hammer"></span>
      &nbsp;
      Stage the site
    <% end %>
  <% end %>
  
  <% end -%>

  <% if website.staging? %>
    <%= link_to launch_admin_website_path(website), class: "usa-button bg-green full-width", method: :post do %>
      <span class="fa fa-rocket"></span>
      &nbsp;
      Launch the site to Production
    <% end %>
    <br>
    <br>
  <% end %>

  <% if website.staging? || website.production? %>
    <%= link_to redirect_admin_website_path(website), class: "usa-button bg-base-dark full-width", method: :post do %>
      <span class="fa fa-forward"></span>
      &nbsp;
      Redirect this site
    <% end %>
    <br>
    <br>
  <% end %>

  <% if website.staging? || website.production? || website.redirect? || website.decommissioned? %>
    <%= render 'admin/websites/tasks/decommission', website: website %>
  <% end %>
</div>
