<% content_for :navigation_title do %>
  Editing CX Action Plan
<% end %>

<p>
  <%= link_to admin_cx_action_plan_path(@cx_action_plan) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CX Action Plan
  <% end %>
</p>
<h1></h1>

<%= render "form", cx_action_plan: @cx_action_plan %>
