<% content_for :navigation_title do %>
  New CX Action Plan
<% end %>
<p>
  <%= link_to admin_cx_action_plans_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CX Action Plans
  <% end %>
</p>

<%= render "form", cx_action_plan: @cx_action_plan %>
