<% content_for :navigation_title do %>
  Editing Organization
<% end %>
<p>
  <%= link_to admin_organization_path(@organization.slug) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Organization
  <% end %>
</p>
<div class="well">
  <%= render 'form', organization: @organization %>
</div>
