<% content_for :navigation_title do %>
  Performance reporting
  <div class="float-right">
    <%= link_to admin_goals_path, class: "usa-button usa-button-inverted" do %>
      Goals & targets
    <% end %>
    <%= link_to admin_objectives_path, class: "usa-button usa-button-inverted" do %>
      Objectives
    <% end %>
    <%= link_to admin_milestones_path, class: "usa-button usa-button-inverted" do %>
      Milestones
    <% end %>
  </div>
<% end %>

<% Organization.all.order(:name).each do |organization| %>
  <p>
    <%= link_to organization.name, performance_admin_organization_path(organization) %>
  </p>
<% end %>
