<% content_for :navigation_title do %>
  Performance reporting
  <div class="float-right">
    <%= link_to admin_goals_path, class: "usa-button usa-button-inverted" do %>
      Goals & targets
    <% end %>
    <%= link_to admin_objectives_path, class: "usa-button usa-button-inverted" do %>
      Objectives
    <% end %>
    <%= link_to admin_milestones_path, class: "usa-button usa-button-inverted" do %>
      Milestones
    <% end %>
  </div>
<% end %>

<br>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Performance reporting in Touchpoints
    </h3>
    <div class="usa-summary-box__text">
      <p>
        Select your Organization below,
        to create or update your Performance Report.
      </p>
    </div>
  </div>
</div>

<% Organization.all.order(:name).each do |organization| %>
  <p>
    <%= link_to organization.name, performance_admin_organization_path(organization) %>
  </p>
<% end %>
