<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <%= render 'components/question_title', question: question, form_builder: true %>
  <br>
  <div class="question-options">
  <% question.question_options.each_with_index do |option, index| %>
    <%= render "components/forms/edit/question_types/checkbox_option", question: question, option: option, index: index %>
  <% end %>
  </div>
</div>
<div class="new-question-options-div">
  <%= link_to new_admin_form_question_question_option_path(question.form, question), class: "usa-button usa-button--outline form-add-question-option" do %>
  <i class="fa fa-plus"></i>
  Add Checkbox Option
  <% end %>
</div>
