<div class="question-option" id="<%= dom_id(option) %>" data-id="<%= option.id %>">
  <%= label_tag(nil, for: "#{question.answer_field}_#{(index + 1).to_s}") do %>
    <%= render 'components/forms/edit/question_types/update_value_text_fields', { question: question, option: option } %>
  <% end %>
</div>
