<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>" data-url="<%= admin_form_question_question_options_path(question.form, question) %>">
  <%= render 'components/question_title', question: question, form_builder: true %>
  <%= select_tag(question.answer_field.to_sym, options_for_select(UsState.dropdown_options), { prompt: (t 'form.select_one'), class: "usa-select", required: question.is_required  }) %>
</div>
