<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <%= render 'components/questions/text', question: question, question_number: question_number %>
  <%= text_area_tag question.answer_field.to_sym, nil, class: "usa-textarea" %>
</div>
