<div class="well">
  <h1>Editing Form Template</h1>

  <%= render 'form', form_template: @form_template %>
</div>
<%= link_to 'Show', admin_form_template_path(@form_template), class: "usa-button" %>
<%= link_to 'Back', admin_form_templates_path, class: "usa-button" %>
<%= link_to 'Delete', admin_form_template_path(@form_template), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button-red" %>
