<div class="well">
<h1>Editing PRA Contact</h1>
<%= render 'form', pra_contact: @pra_contact %>
</div>

<%= link_to 'Show', admin_pra_contacts_path(@pra_contact), class: "usa-button" %>
<%= link_to 'All PRA Contacts', admin_pra_contacts_path, class: "usa-button" %>
<%= link_to 'Delete', admin_pra_contact_path(@pra_contact), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button-red" %>
