<div class="well">
  <h1>New PRA Contact</h1>
  <%= render 'form', pra_contact: @pra_contact %>
</div>
<p>
  <%= link_to 'All PRA Contacts', admin_pra_contacts_path, class: "usa-button usa-button--outline" %>
</p>
