<h1>Editing cx action plan</h1>

<%= render "form", cx_action_plan: @cx_action_plan %>

<br>

<div>
  <%= link_to "Show this cx action plan", @cx_action_plan %> |
  <%= link_to "Back to cx action plans", cx_action_plans_path %>
</div>
