<h1>Editing Barrier</h1>

<%= render 'form', barrier: @barrier %>

<%= link_to 'Show', @barrier %> |
<%= link_to 'Back', barriers_path %> |
<%= link_to 'Destroy', @barrier, method: :delete, data: { confirm: 'Are you sure?' } %>
