<div id="fba-modal-dialog">
  <h3 id="fba-modal-title">
    Do you have a few minutes to help us test this site?
  </h3>
  <a id="fba-modal-close" type="button" href="#">×</a>
  <p id="fba-description">
    Hi! We’re looking for people to participate in a 30 minute phone interview
    about how they use <%= Organization.first.name %>.
    If selected, we’ll contact you to set up a time.
  </p>
  <%= render "components/forms/#{@touchpoint.form.kind}",  touchpoint: @touchpoint %>
  <p>
    Note: We won’t share your information with any other organizations or groups, period.
  </p>
  <p id="fba-dialog-privacy" class="usa-external_link">
    <a href="https://www.gsa.gov/portal/content/162010">Privacy</a>
  </p>
</div>
