<div id="fba-modal-dialog" class="fba-modal-dialog">
  <%= render "components/widget/no_modal", form: form do %>
    <%= render partial: 'components/forms/footer', locals: { form: form } %>
  <% end %>
</div>
