<div class="touchpoints-wrapper">
  <% if form.title? %>
    <h3 id="fba-modal-title">
      <%= form.title %>
    </h3>
  <% end %>
  <% unless form.delivery_method == "inline" %>
    <a id="fba-modal-close" type="button" href="#">×</a>
  <% end %>

  <% if form.instructions? %>
  <p id="fba-instructions">
    <%= sanitize(form.instructions) %>
  </p>
  <% end %>
  <%= render 'components/forms/flash' %>

  <%= render partial: "components/forms/custom", locals: { form: form, questions: form.questions } %>
</div>
