<h1>Editing Container</h1>

<%= render 'form', container: @container %>

<%= link_to 'Show', @container, class: "usa-button" %>
<%= link_to 'Destroy', @container, method: :delete, data: { confirm: 'Are you sure?' } %>
