<%= form_with(model: digital_product, url: admin_digital_product_path(digital_product), local: true) do |f| %>
	<div class="grid-row">
	  <div class="grid-col-12">
	  	<h3>
				Sponsoring Agencies
			</h3>
	  	<div class="organizations-list">
				<ul class="usa-list usa-list--unstyled">
				<% digital_product.roles.sort.each do |role| %>
					<% role.organizations.sort_by { |u| u.name }.each do |org| %>
					<li style="margin-bottom: 3px;">
						<span class="usa-tag">
							<%= org.name %>
						</span>
						<% if digital_product_permissions?(digital_product: digital_product, user: current_user) %>
						<a href="javascript:void(0);" class="remove-tag-link" data-id="<%= org.id %>">
							<span class="fa fa-trash"></span>
						</a>
						<% end %>
					</li>
		  		<% end %>
	  		<% end %>
				</ul>
	  	</div>

			<% if digital_product_permissions?(digital_product: digital_product, user: current_user) %>
				<% @unselected_organizations = Organization.all.select { |org| !digital_product.roles.last.organizations.collect(&:id).include? org.id } %>
				<% if @unselected_organizations.present? %>
		    	<%= f.select :organization_id, options_for_select(@unselected_organizations.sort_by(&:abbreviation).map { |organization| ["#{organization.abbreviation} - #{organization.name}", organization.id] }), { prompt: "Which Organization?", include_blank: true }, { class: "usa-select" } %>
				<% end %>
			<% end %>

	  </div>
	</div>
<% end %>

<% if digital_product_permissions?(digital_product: digital_product, user: current_user) %>
<script>
	$(function() {
		$("#digital_product_organization_id").on("change", function(event) {
			event.preventDefault();

			var thisForm = $(this).closest("form");
			$.ajax({
				url: thisForm.attr("action") + "/add_organization",
				type: 'post',
				data: "organization[id]=" + $("#digital_product_organization_id").val()
			});
		});
		$
		$(".organizations-list .remove-tag-link").on("click", function(e) {
			alert('hi')
			event.preventDefault();

			var thisForm = $(this).closest("form");
			$.ajax({
				url: thisForm.attr("action") + "/remove_organization",
				type: 'post',
				data: "organization[id]=" + $(this).attr("data-id")
			});
		})
	})
</script>
<% end %>
