<%= form_with(model: digital_product, url: admin_digital_product_path(digital_product), local: true) do |f| %>
	<div class="grid-row">
	  <div class="grid-col-6">
	  	<h3>
				Contacts
			</h3>
	  	<p>
				<ul class="usa-list usa-list--unstyled">
					<% digital_product.roles.sort.each do |role| %>
					<% role.users.sort_by { |u| u.email }.each do |user| %>
					<li  style="margin-bottom: 3px;">
						<span class="usa-tag">
							<%= user.email %>
						</span>
						<% if digital_product_permissions?(digital_product: digital_product, user: current_user) %>
						<a href="javascript:void(0);" class="remove-tag-link" data-id="<%= user.id %>">
							<span class="fa fa-trash"></span>
						</a>
						<% end %>
					</li>
		  		<% end %>
		  		<% end %>
				</ul>
	  	<p>
			<% if digital_product_permissions?(digital_product: digital_product, user: current_user) %>
	    <%= f.text_field :user_email_address, placeholder: "email address", value: nil, class: "usa-input tag-input" %>
			<% end %>
	  </div>
	</div>
<% end %>

<% if digital_product_permissions?(digital_product: digital_product, user: current_user) %>
<script>

	$(function() {
		$("#digital_product_user_email_address").on("blur", function(event) {
			event.preventDefault();

			var thisForm = $(this).closest("form");

			$.ajax({
				url: thisForm.attr("action") + "/add_user",
				type: 'post',
				data: "user[email]=" + $("#digital_product_user_email_address").val()
			});
		});

		$(".remove-tag-link").on("click", function(e) {
			event.preventDefault();
			var thisForm = $(this).closest("form");
			$.ajax({
				url: thisForm.attr("action") + "/remove_user",
				type: 'post',
				data: "user[id]=" + $(this).data("id")
			});
		});
	});
</script>
<% end %>
