<% content_for :navigation_title do %>
  Editing Digital Product
<% end %>

<p>
  <%= link_to admin_digital_product_path(@digital_product) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Digital Product
  <% end %>
</p>

<%= render 'form', digital_product: @digital_product %>

<% if admin_permissions? %>
<div class="grid-row margin-bottom-3">
  <div class="grid-col-12">
    <%= link_to admin_digital_product_path(@digital_product), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary float-right" do %>
      <span class="fa fa-trash"></span>
      Delete
    <% end %>
  </div>
</div>
<% end %>
