<% content_for :navigation_title do %>
  Editing Digital Product
<% end %>

<p>
  <%= link_to admin_digital_products_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Digital Products
  <% end %>
</p>

<%= render 'form', digital_product: @digital_product %>

<%= link_to 'Show', admin_digital_product_path(@digital_product) %> |
<%= link_to 'Destroy', admin_digital_product_path(@digital_product), method: :delete, data: { confirm: 'Are you sure?' } %>
