<h1>Editing Digital Product</h1>

<%= render 'form', digital_product: @digital_product %>

<%= link_to 'Show', admin_digital_product_path(@digital_product) %> |
<%= link_to 'Back', admin_digital_products_path %>
<%#= link_to 'Destroy', digital_product, method: :delete, data: { confirm: 'Are you sure?' } %>
