<h1>Editing Digital Product</h1>

<%= render 'form', digital_product: @digital_product %>

<%= link_to 'Show', @digital_product %> |
<%= link_to 'Back', digital_products_path %>
<%#= link_to 'Destroy', digital_product, method: :delete, data: { confirm: 'Are you sure?' } %>
