<% content_for :navigation_title do %>
  New Digital Product
<% end %>
<p>
  <%= link_to admin_digital_products_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Digital Products
  <% end %>
</p>

<%= render 'form', digital_product: @digital_product %>
