  openapi: 3.0.1
  info:
    description: The Touchpoints API enables users to read Forms, Responses, and other Customer Experience data.
    version: 1.0.0
    title: Touchpoints API
    contact:
      name: Touchpoints
      url: 'https://touchpoints.digital.gov/'
      email: feedback-analytics@gsa.gov
  servers:
    - url: 'https://api.gsa.gov/analytics/touchpoints/v1/'
      variables:
        scheme:
          description: API responses are available via https only
          enum:
            - https
          default: https
  tags:
    - name: TP
      description: Touchpoints
  paths:
    /forms.json:
      get:
        summary: List available data sets
        operationId: forms
        tags:
          - forms
        responses:
          '200':
            description: Returns an array of forms
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Form'
    '/forms/{id}.json':
      summary: Provides the general information about the API and the list of fields that can be used to query the dataset.
      description: This GET API returns the list of all the searchable field names that are in the oa_citations. Please see the 'fields' attribute which returns an array of field names. Each field or a combination of fields can be searched using the syntax options shown below.
      get:
        operationId: forms#show
        tags:
          - forms
        parameters:
          - in: path
            name: id
            description: Short UUID of the form
            required: true
            schema:
              type: string
        responses:
          '200':
            description: The dataset API for the given version is found and it is accessible to consume.
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Form'
    /websites.json:
      get:
        summary: List published websites
        operationId: websites
        tags:
          - websites
        responses:
          '200':
            description: Returns an array of websites
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Website'
    '/websites/{id}.json':
      summary: returns one website record
      description: returns one website record
      get:
        operationId: websites#show
        tags:
          - websites
        parameters:
          - in: path
            name: id
            description: ID of the website
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Returns one form
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/Website'
    /digital_products.json:
      get:
        summary: List published digital products (Mobile Apps)
        operationId: digital_products
        tags:
          - digital_products
        responses:
          '200':
            description: Returns an array of digital_products
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DigitalProduct'
    '/digital_products/{id}.json':
      summary: returns one digital product record
      description: returns one digital product record
      get:
        operationId: digital_products#show
        tags:
          - digital_products
        parameters:
          - in: path
            name: id
            description: ID of the digital product
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Returns one digital product
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/DigitalProduct'
    /digital_service_accounts.json:
      get:
        summary: List published digital service accounts (Social Media Accounts)
        operationId: digital_service_accounts
        tags:
          - digital_service_accounts
        responses:
          '200':
            description: Returns an array of digital_service_accounts
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DigitalServiceAccount'
    '/digital_service_accounts/{id}.json':
      summary: returns one digital service account record
      description: returns one digital service account record
      get:
        operationId: digital_service_accounts#show
        tags:
          - digital_service_accounts
        parameters:
          - in: path
            name: id
            description: ID of the digital service account
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Returns one digital service account
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/DigitalServiceAccount'
  components:
    securitySchemes:
      ApiKeyAuth:
        type: apiKey
        in: header
        name: X-API-KEY
    schemas:
      Channel:
        required:
          - "id"
          - "name"
          - "created_at"
          - "updated_at"
        properties:
          id:
            type: "number"
            example: 39
          name:
            type: "string"
            example: "website"
          created_at:
            type: "string"
            example: "2022-01-20T20:44:35.603Z"
          updated_at:
            type: "string"
            example: "2022-01-20T20:44:35.603Z"
      Form:
        type: object
        required:
          - id
          - name
        properties:
            id:
              type: "string"
            type:
              type: "string"
            attributes:
              required:
                - "page"
                - "size"
                - "start_date"
                - "end_date"
                - "name"
                - "title"
                - "instructions"
                - "disclaimer_text"
                - "kind"
                - "notes"
                - "status"
                - "created_at"
                - "updated_at"
                - "whitelist_url"
                - "whitelist_url_1"
                - "whitelist_url_2"
                - "whitelist_url_3"
                - "whitelist_url_4"
                - "whitelist_url_5"
                - "whitelist_url_6"
                - "whitelist_url_7"
                - "whitelist_url_8"
                - "whitelist_url_9"
                - "whitelist_test_url"
                - "display_header_logo"
                - "success_text_heading"
                - "success_text"
                - "modal_button_text"
                - "display_header_square_logo"
                - "early_submission"
                - "user_id"
                - "template"
                - "uuid"
                - "short_uuid"
                - "organization_id"
                - "omb_approval_number"
                - "expiration_date"
                - "medium"
                - "federal_register_url"
                - "anticipated_delivery_count"
                - "service_name"
                - "data_submission_comment"
                - "survey_instrument_reference"
                - "agency_poc_email"
                - "agency_poc_name"
                - "department"
                - "bureau"
                - "notification_emails"
                - "aasm_state"
                - "delivery_method"
                - "element_selector"
                - "survey_form_activations"
                - "load_css"
                - "logo"
                - "time_zone"
                - "response_count"
                - "last_response_created_at"
              properties:
                page:
                  type: "number"
                size:
                  type: "number"
                start_date:
                  type: "string"
                end_date:
                  type: "string"
                name:
                  type: "string"
                title:
                  type: "string"
                instructions:
                  type: "string"
                disclaimer_text:
                  type: "string"
                kind:
                  type: "string"
                notes:
                  type: "string"
                created_at:
                  type: "string"
                updated_at:
                  type: "string"
                whitelist_url:
                  type: "string"
                whitelist_test_url:
                  type: "string"
                display_header_logo:
                  type: "boolean"
                success_text_heading:
                  type: "string"
                success_text:
                  type: "string"
                modal_button_text:
                  type: "string"
                display_header_square_logo:
                  type: "boolean"
                early_submission:
                  type: "boolean"
                user_id:
                  type: "number"
                template:
                  type: "boolean"
                uuid:
                  type: "string"
                short_uuid:
                  type: "string"
                organization_id:
                  type: "number"
                omb_approval_number:
                  type: "string"
                medium:
                  type: "string"
                federal_register_url:
                  type: "string"
                service_name:
                  type: "string"
                survey_instrument_reference:
                  type: "string"
                agency_poc_email:
                  type: "string"
                agency_poc_name:
                  type: "string"
                department:
                  type: "string"
                bureau:
                  type: "string"
                notification_emails:
                  type: "string"
                aasm_state:
                  type: "string"
                delivery_method:
                  type: "string"
                element_selector:
                  type: "string"
                survey_form_activations:
                  type: "number"
                load_css:
                  type: "boolean"
                logo:
                  required:
                    - "url"
                    - "thumb"
                    - "card"
                    - "tag"
                    - "logo_square"
                  properties:
                    url:
                      type: "string"
                    thumb:
                      required:
                        - "url"
                      properties:
                        url:
                          type: "string"
                      type: "object"
                    card:
                      required:
                        - "url"
                      properties:
                        url:
                          type: "string"
                      type: "object"
                    tag:
                      required:
                        - "url"
                      properties:
                        url:
                          type: "string"
                      type: "object"
                    logo_square:
                      required:
                        - "url"
                      properties:
                        url:
                          type: "string"
                      type: "object"
                  type: "object"
                time_zone:
                  type: "string"
                response_count:
                  type: "number"
                last_response_created_at:
                  type: "string"
              type: "object"
            relationships:
              type: "object"
              required:
                - "questions"
                - "submissions"
              properties:
                questions:
                  type: "object"
                  required:
                    - "data"
                  properties:
                    data:
                      type: "array"
                      items:
                        $ref: '#/components/schemas/Question'
                submissions:
                  type: "object"
                  required:
                    - "data"
                  properties:
                    data:
                      type: "array"
                      items:
                        $ref: '#/components/schemas/Submission'
      Forms:
        type: array
        items:
          $ref: '#/components/schemas/Form'
      Submission:
        type: object
        required:
          - form_id
        properties:
          form_id:
            type: string
          user_id:
            type: integer
          uuid:
            type: string
          created_at:
            type: string
          updated_at:
            type: string
          referer:
            type: string
          page:
            type: string
          user_agent:
            type: string
          answer_01:
            type: string
          answer_02:
            type: string
          answer_03:
            type: string
          answer_04:
            type: string
          answer_05:
            type: string
          answer_06:
            type: string
          answer_07:
            type: string
          answer_08:
            type: string
          answer_09:
            type: string
          answer_10:
            type: string
          answer_11:
            type: string
          answer_12:
            type: string
          answer_13:
            type: string
          answer_14:
            type: string
          answer_15:
            type: string
          answer_16:
            type: string
          answer_17:
            type: string
          answer_18:
            type: string
          answer_19:
            type: string
          answer_20:
            type: string
          ip_address:
            type: string
          location_code:
            type: string
          flagged:
            type: boolean
          language:
            type: string
      Question:
        type: object
        required:
          - "data"
        properties:
          data:
            type: "array"
            items:
              type: "object"
              properties:
                id:
                  type: "number"
                form_id:
                  type: "number"
                text:
                  type: "string"
                question_type:
                  type: "string"
                answer_field:
                  type: "string"
                position:
                  type: "number"
                is_required:
                  type: "boolean"
                created_at:
                  type: "string"
                updated_at:
                  type: "string"
                form_section_id:
                  type: "number"
      Submissions:
        type: array
        items:
          $ref: '#/components/schemas/Submission'
      Organization:
        type: object
        required:
          - id
          - name
          - abbreviation
          - domain
        properties:
          id:
            type: "number"
          name:
            type: "string"
          url:
            type: "string"
          abbreviation:
            type: "string"
          domain:
            type: "string"
          logo:
            required:
              - "url"
              - "thumb"
              - "card"
              - "tag"
              - "logo_square"
            properties:
              thumb:
                required:
                  - "url"
                properties: {}
                type: "object"
              card:
                required:
                  - "url"
                properties: {}
                type: "object"
              tag:
                required:
                  - "url"
                properties: {}
                type: "object"
              logo_square:
                required:
                  - "url"
                properties: {}
                type: "object"
            type: object
          digital_analytics_path:
            type: "string"
          mission_statement:
            type: "string"
          mission_statement_url:
            type: "string"
          performance_url:
            type: "string"
          strategic_plan_url:
            type: "string"
          learning_agenda_url:
            type: "string"
          cfo_act_agency:
            type: "boolean"
      PublicUser:
        type: object
        properties:
          email:
            type: "string"
      Service:
        required:
          - "data"
        properties:
          data:
            type: "array"
            items:
              type: "object"
              properties:
                id:
                  type: "string"
                type:
                  type: "string"
                attributes:
                  required:
                    - "name"
                    - "description"
                    - "organization_id"
                    - "organization_abbreviation"
                    - "organization_name"
                    - "service_provider_id"
                    - "service_provider_name"
                    - "kind"
                    - "transactional"
                    - "notes"
                    - "hisp"
                    - "department"
                    - "bureau"
                    - "service_slug"
                    - "service_owner_email"
                    - "service_managers"
                    - "url"
                    - "homepage_url"
                    - "channels"
                    - "tags"
                    - "available_in_person"
                    - "available_digitally"
                    - "available_via_phone"
                  properties:
                    name:
                      type: "string"
                    description:
                      type: "string"
                    organization_id:
                      type: "number"
                    organization_abbreviation:
                      type: "string"
                    organization_name:
                      type: "string"
                    service_provider_id:
                      type: "number"
                    service_provider_name:
                      type: "string"
                    kind:
                      type: "array"
                      items:
                        type: "string"
                    transactional:
                      type: "boolean"
                    notes:
                      type: "string"
                    hisp:
                      type: "boolean"
                    department:
                      type: "string"
                    bureau:
                      type: "string"
                    service_slug:
                      type: "string"
                    service_owner_email:
                      type: "string"
                    service_managers:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          email:
                            type: "string"
                    url:
                      type: "string"
                    homepage_url:
                      type: "string"
                    channels:
                      type: "array"
                      items:
                        type: "object"
                        properties:
                          id:
                            type: "number"
                          name:
                            type: "string"
                          created_at:
                            type: "string"
                          updated_at:
                            type: "string"
                          taggings_count:
                            type: "number"
                    tags:
                      type: "array"
                      items:
                        $ref: '#/components/schemas/Tag'
                    available_in_person:
                      type: "boolean"
                    available_digitally:
                      type: "boolean"
                    available_via_phone:
                      type: "boolean"
      Tag:
        required:
          - "id"
          - "name"
          - "created_at"
          - "updated_at"
        properties:
          id:
            type: "number"
            example: 1776
          name:
            type: "string"
            example: "customer-experience"
          created_at:
            type: "string"
            example: "2022-01-12T17:43:09.569Z"
          updated_at:
            type: "string"
            example: "2022-01-12T17:43:09.569Z"
      Website:
        type: object
      Websites:
        type: array
        items:
          $ref: '#/components/schemas/Website'
      DigitalProduct:
        required:
          - "data"
          - "links"
          - "meta"
        properties:
          data:
            type: "array"
            items:
              type: "object"
              properties:
                id:
                  type: "string"
                  example: "8"
                type:
                  type: "string"
                  example: "digital_products"
                attributes:
                  type: object
                  required:
                    - "agencies"
                    - "contacts"
                    - "service"
                    - "url"
                    - "code_repository_url"
                    - "language"
                    - "status"
                    - "short_description"
                    - "long_description"
                    - "tags"
                  properties:
                    agencies:
                      type: "array"
                      items:
                        $ref: '#/components/schemas/Organization'
                      example: []
                    contacts:
                      type: "array"
                      items:
                        $ref: '#/components/schemas/PublicUser'
                      example: []
                    language:
                      type: "string"
                      example: "English"
                    status:
                      type: "string"
                      example: "published"
                    short_description:
                      type: "string"
                      example: "Explore many of the most cherished cultural and historical sites on the National Mall."
                    long_description:
                      type: "string"
                      example: "<p>This is the official National Park Service app for the National Mall and Memorial Parks. On your next visit to Washington, D.C., use it to explore many of the most cherished cultural and historical sites in the United States—from the Lincoln Memorial to the White House. The app includes a total of 70 sites.</p><p><strong>Features:</strong></p><p><strong>Map</strong> – Official National Park Service map of the central tourist area in Washington, D.C. Easy to use while outdoors, the map features large font sizes, walkways that are easily distinguishable from roads, and three zoom levels. By tapping the “Locate me” icon you will always know where you are.</p><p><strong>Park Lens</strong> – Find out what is around you with augmented reality. Just hold up your device and look through the camera. Labels will appear identifying all sites on the National Mall.</p><p><strong>Walking directions</strong> – Get from one place to another by following a line on the map or a list of directions. Estimated walking times are given.</p><p><strong>Sites</strong> – Learn more about points of interest with lively text, professional photographs, and engaging podcasts under the “Album” button. The “Info” button includes the site’s location, hours of operation, nearest Metro station, and other essential information.</p><p><strong>Tours</strong> – Follow a recommended tour depending on how much time you have or your special interest—from memorials to presidents to military monuments to destinations off the beaten path. You can even create personal tours with the “My Tour” feature—just tap the “+” at the bottom right of a site page. The app maps the route for you.</p><p><strong>Events and News</strong> – Get up-to-date information from the National Park Service about what is happening at the National Mall and Memorial Parks.</p><p><strong>Postcard</strong> – Send a digital postcard to friends and family from the National Mall with the tap of a button.</p><p><strong>Accessibility</strong> – Audio described images combined with the built-in iOS accessibility features will let all people enjoy the National Mall and Memorial Parks.</p><p><strong>Park Partner</strong> – The Trust for the National Mall strives to make the National Mall the best park in the world. Learn more about the essential assistance this organization provides.</p><p><strong>Small size</strong> – Weighing in at 13.7MB, the app will download relatively quickly via a 3G cellular connection or the free Wi-Fi available on the east end the National Mall.</p>"
                    tags:
                      type: "array"
                      items:
                        $ref: '#/components/schemas/Tag'
                      example: []
          links:
            required:
              - "first"
              - "last"
            properties:
              first:
                type: "string"
                example: "https://touchpoints.app.cloud.gov/api/v1/digital_products.json?API_KEY=1234&page=1"
              last:
                type: "string"
                example: "https://touchpoints.app.cloud.gov/api/v1/digital_products.json?API_KEY=1234&page=9"
            type: "object"
          meta:
            required:
              - "size"
              - "page"
              - "totalPages"
            properties:
              size:
                type: "number"
                example: 100
              page:
                type: "number"
                example: 0
              totalPages:
                type: "number"
                example: 1
            type: "object"

      DigitalProducts:
        type: array
        items:
          $ref: '#/components/schemas/DigitalProduct'
      DigitalServiceAccount:
        type: object
        properties:
          name:
            type: "string"
          status:
            type: "string"
          agencies:
            type: array
            items:
              $ref: '#/components/schemas/Organization'
          contacts:
            type: "array"
            items:
              $ref: '#/components/schemas/PublicUser'
          service_url:
            type: "string"
          short_description:
            type: "string"
          long_description:
            type: "string"
          tags:
            type: "array"
            items:
              type: "string"
      DigitalServiceAccounts:
        type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/DigitalServiceAccount'
      Error:
        required:
          - "error"
        properties:
          error:
            required:
              - "code"
              - "message"
            properties:
              code:
                type: "string"
              message:
                type: "string"
            type: "object"
