  openapi: 3.0.1
  info:
    description: The Touchpoints API allows agencys users to programatically read Forms and Responses.
    version: 1.0.0
    title: Touchpoints API
    contact:
      name: Touchpoints
      url: 'https://touchpoints.digital.gov'
      email: feedback-analytics@gsa.gov
  servers:
    - url: 'https://api.data.gov/analytics/touchpoints/v1/'
      variables:
        scheme:
          description: API responses are available via https only
          enum:
            - https
          default: https
  tags:
    - name: TP
      description: Touchpoints
  paths:
    /forms.json:
      get:
        summary: List available data sets
        operationId: forms
        tags:
          - forms
        responses:
          '200':
            description: Returns an array of forms
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Form'
    '/forms/{id}.json':
      summary: Provides the general information about the API and the list of fields that can be used to query the dataset.
      description: This GET API returns the list of all the searchable field names that are in the oa_citations. Please see the 'fields' attribute which returns an array of field names. Each field or a combination of fields can be searched using the syntax options shown below.
      get:
        operationId: forms#show
        tags:
          - forms
        parameters:
          - in: path
            name: id
            description: Short UUID of the form
            required: true
            schema:
              type: string
        responses:
          '200':
            description: The dataset API for the given version is found and it is accessible to consume.
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      properties:
                        id:
                          type: string
                        type:
                          type: string
                        attributes:
                          type: object
                          $ref: '#/components/schemas/Form'
    /websites.json:
      get:
        summary: List published websites
        operationId: websites
        tags:
          - websites
        responses:
          '200':
            description: Returns an array of websites
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/Website'                          
    '/websites/{id}.json':
      summary: returns one website record
      description: returns one website record
      get:
        operationId: websites#show
        tags:
          - websites
        parameters:
          - in: path
            name: id
            description: ID of the website
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Returns one form
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/Website'                                             
    /digital_products.json:
      get:
        summary: List published digital products (Mobile Apps)
        operationId: digital_products
        tags:
          - digital_products
        responses:
          '200':
            description: Returns an array of digital_products
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DigitalProduct'                          
    '/digital_products/{id}.json':
      summary: returns one digital product record
      description: returns one digital product record
      get:
        operationId: digital_products#show
        tags:
          - digital_products
        parameters:
          - in: path
            name: id
            description: ID of the digital product
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Returns one digital product
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/DigitalProduct'         
    /digital_service_accounts.json:
      get:
        summary: List published digital service accounts (Social Media Accounts)
        operationId: digital_service_accounts
        tags:
          - digital_service_accounts
        responses:
          '200':
            description: Returns an array of digital_service_accounts
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: array
                      items:
                        $ref: '#/components/schemas/DigitalServiceAccount'                          
    '/digital_service_accounts/{id}.json':
      summary: returns one digital service account record
      description: returns one digital service account record
      get:
        operationId: digital_service_accounts#show
        tags:
          - digital_service_accounts
        parameters:
          - in: path
            name: id
            description: ID of the digital service account
            required: true
            schema:
              type: string
        responses:
          '200':
            description: Returns one digital service account
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    data:
                      type: object
                      $ref: '#/components/schemas/DigitalServiceAccount'
  components:
    securitySchemes:
      ApiKeyAuth:
        type: apiKey
        in: header
        name: X-API-KEY
    schemas:
      Form:
        type: object
        required:
          - id
          - name
        properties:
          id:
            type: integer
            format: int32
          type:
            type: string
          attributes:
            type: object
            properties:
              uuid:
                type: string
                format: uuid
              organization_id:
                type: integer
                format: int32
              name:
                type: string
              instructions:
                type: string
              kind:
                type: string
              notes:
                type: string
              status:
                type: string
              created_at:
                type: string
              updated_at:
                type: string
              element_selector:
                type: string
              whitelist_url:
                type: string
              whitelist_test_url:
                type: string
              display_header_logo:
                type: boolean
              display_header_square_logo:
                type: boolean
              early_submission:
                type: boolean
              template:
                type: boolean
              load_css:
                type: boolean
              logo:
                type: object
              success_text:
                type: string
              modal_button_text:
                type: string
              omb_approval_number:
                type: string
              expiration_date:
                type: string
              federal_register_url:
                type: string
              service_name:
                type: string
              survey_instrument_reference:
                type: string
              survey_form_activations:
                type: integer
                format: int32
              anticipated_delivery_count:
                type: integer
                format: int32
              relationships:
                type: object
                properties:
                  submissions:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          $ref: '#/components/schemas/Submission'

      Forms:
        type: array
        items:
          $ref: '#/components/schemas/Form'
      Submission:
        type: object
        required:
          - form_id
        properties:
          form_id:
            type: string
          user_id:
            type: integer
          uuid:
            type: string
          created_at:
            type: string
          updated_at:
            type: string
          referer:
            type: string
          page:
            type: string
          user_agent:
            type: string
          answer_01:
            type: string
          answer_02:
            type: string
          answer_03:
            type: string
          answer_04:
            type: string
          answer_05:
            type: string
          answer_06:
            type: string
          answer_07:
            type: string
          answer_08:
            type: string
          answer_09:
            type: string
          answer_10:
            type: string
          answer_11:
            type: string
          answer_12:
            type: string
          answer_13:
            type: string
          answer_14:
            type: string
          answer_15:
            type: string
          answer_16:
            type: string
          answer_17:
            type: string
          answer_18:
            type: string
          answer_19:
            type: string
          answer_20:
            type: string
          ip_address:
            type: string
          location_code:
            type: string
          flagged:
            type: boolean
          language:
            type: string
      Submissions:
        type: array
        items:
          $ref: '#/components/schemas/Submission'
      Organization:
        type: object
        required:
          - id
          - name
          - abbreviation
          - domain
        properties: 
          id: 
            type: "number"
          name: 
            type: "string"
          url: 
            type: "string"
          abbreviation: 
            type: "string"
          domain: 
            type: "string"
          logo: 
            required: 
              - "url"
              - "thumb"
              - "card"
              - "tag"
              - "logo_square"
            properties: 
              thumb: 
                required: 
                  - "url"
                properties: {}
                type: "object"
              card: 
                required: 
                  - "url"
                properties: {}
                type: "object"
              tag: 
                required: 
                  - "url"
                properties: {}
                type: "object"
              logo_square: 
                required: 
                  - "url"
                properties: {}
                type: "object"
            type: object
          digital_analytics_path: 
            type: "string"
          mission_statement: 
            type: "string"
          mission_statement_url: 
            type: "string"
          performance_url: 
            type: "string"
          strategic_plan_url: 
            type: "string"
          learning_agenda_url: 
            type: "string"
          cfo_act_agency: 
            type: "boolean"
      PublicUser:
        type: object
        properties: 
          email: 
            type: "string"
      Website:
        type: object
      Websites:
        type: array
        items:
          $ref: '#/components/schemas/Website'
      DigitalProduct:
        type: object
        required: 
          - "data"
        properties: 
          data: 
            type: object
            required: 
              - "id"
              - "type"
              - "attributes"
            properties: 
              id: 
                type: "string"
              attributes: 
                required: 
                  - "service"
                  - "status"
                properties: 
                  agencies: 
                    type: "array"
                    items: 
                      $ref: '#/components/schemas/Organization'
                  contacts: 
                    type: "array"
                    items: 
                      $ref: '#/components/schemas/PublicUser'
                  language: 
                    type: "string"
                  status: 
                    type: "string"
                  short_description: 
                    type: "string"
                  long_description: 
                    type: "string"
                  tags: 
                    type: "array"
                    items: 
                      type: "string"
      DigitalProducts:
        type: array
        items:
          $ref: '#/components/schemas/DigitalProduct'
      DigitalServiceAccount:
        type: object
        properties: 
          name: 
            type: "string"
          account: 
            type: "string"
          status: 
            type: "string"
          agencies:
            type: array
            items:
              $ref: '#/components/schemas/Organization'
          contacts: 
            type: "array"
            items:
              $ref: '#/components/schemas/PublicUser'
          service_url: 
            type: "string"
          short_description: 
            type: "string"
          long_description: 
            type: "string"
          tags: 
            type: "array"
            items: 
              type: "string"
      DigitalServiceAccounts:
        type: object
        properties:
          data:
            type: array
            items:
              $ref: '#/components/schemas/DigitalServiceAccount'