<div id="recent-responses">
  <%- if forms.present? %>
    <table class="usa-table width-full">
      <thead>
        <tr>
          <th data-sortable scope="col">
            Organization name
          </th>
          <th data-sortable scope="col">
            Form name
          </th>
          <th data-sortable scope="col">
            Response count
          </th>
        </tr>
      </thead>
      <tbody>
        <% forms.each do |form| %>
        <tr>
          <td>
            <%= render "admin/organizations/badge", organization: form.organization %>
          </td>
          <td>
            <%= link_to form.name, admin_form_path(form) %>
          </td>
          <td data-sort-value="<%= c = form.submissions.where("created_at > ?", Time.now - days_since.days).count %>">
            <%= number_with_delimiter(c) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="usa-alert">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          No responses in the recent timeframe.
        </p>
      </div>
    </div>
  <% end %>
</div>
