<div id="daily-responses">
  <h3>
    Responses per day
  </h3>
  <p>Total submissions received over period: <%= response_groups.sum { | n | n[1] } %> </p>
  <div class="width-full" style="height: 300px;">
    <canvas id="responses-per-day"></canvas>
  </div>
</div>

<script>
$(function() {
  var ctx = document.getElementById('responses-per-day').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
      <% response_groups.each do |key, value| %>
        '<%= key.strftime("%m-%d") %>',
      <% end %>
      ],
      datasets: [{
        label: '# of Responses',
        data: [
        <% response_groups.each do |key, value| %>
          <%= value %>,
        <% end %>
        ],
        backgroundColor: "#5d5d52"
      }]
    },
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
        position: 'bottom',
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true,
            suggestedMax: 10,
          }
        }]
      }
    }
  });
})
</script>
