<%= javascript_include_tag "chartjs-2.9.3.bundle.js" %>

<h3>
  Submissions per day
</h3>

<div style="width:100%;">
  <canvas id="myChart"></canvas>
</div>

<% @submissions = Submission.group("date(created_at)").size.sort.last(45) %>
<script>
$(function() {
  var ctx = document.getElementById('myChart').getContext('2d');
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [
      <% @submissions.each do |key, value| %>
        '<%= key.strftime("%m-%d") %>',
      <% end %>
      ],
      datasets: [{
        label: '# of Responses',
        data: [
        <% @submissions.each do |key, value| %>
          <%= value %>,
        <% end %>
        ],
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      legend: {
        position: 'bottom',
      },
      scales: {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      }
    }
  });
})
</script>
