<%= form_with(model: touchpoint, url: touchpoint.persisted? ? admin_touchpoint_path(touchpoint) : admin_touchpoints_path, local: true) do |form| %>
<div class="grid-row">
  <div class="grid-col-12">
    <% if touchpoint.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(touchpoint.errors.count, "error") %> prohibited this touchpoint from being saved:</h2>
        <% touchpoint.errors.full_messages.each do |message| %>
          <div class="usa-alert usa-alert--error" >
            <div class="usa-alert__body">
              <h3 class="usa-alert__heading">Error</h3>
              <p class="usa-alert__text">
                <%= message %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>
<hr>
