<h1>Editing Touchpoint</h1>

<%= render 'form', touchpoint: @touchpoint %>

<%= link_to 'Show', @touchpoint, class: "usa-button" %>
<%= link_to 'All Touchpoints', touchpoints_path, class: "usa-button" %>
<%= link_to 'Destroy', @touchpoint, method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button-red" %>
