<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8' />
    <title>
      Touchpoints Example
    </title>
    <!-- Demo content styles -->
    <style>
    .demo-content {
      background-color: #efefef;
      border: 1px solid #E5E5E5;
      min-height: 100px;
    }
    .demo-grid {
      margin-bottom: 4rem;
    }
    .demo-grid div {
      min-height: 300px;
    }
    </style>
    <!-- End demo content styles -->
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />

    <!-- Load USWDS assets -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/uswds/2.1.0/js/uswds.min.js'></script>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/uswds/2.1.0/css/uswds.min.css' rel='stylesheet'/>

    <!-- Load recruiter locally for dev -->
    <!-- <script src='https://rawgit.com/GSA/recruiter/master/recruiter.js'></script> -->
    <!-- <script src='recruiter.js'></script> -->
  </head>
  <body>
    <!-- Demo content -->
    <% if @touchpoint.delivery_method == "inline" %>
    <br>
    <div class="grid-container">
      <div class="grid-col-12">
        <div id="<%= @touchpoint.element_selector %>">
          Touchpoint will be rendered here.
        </div>
      </div>
    </div>
    <br>
    <% elsif @touchpoint.delivery_method == "custom-button-modal" %>
    <br>
    <div class="grid-container">
      <div class="grid-col-12">
        <a id="<%= @touchpoint.element_selector %>">
          Custom button
        </a>
      </div>
    </div>
    <br>
    <% else %>
    <div class="grid-container demo-grid">
      <div class="grid-row grid-gap-md">
        <div class="grid-col-12 demo-content"></div>
      </div>
    </div>
    <div class="grid-container demo-grid">
      <div class="grid-row grid-gap-md">
        <div class="grid-col-8 demo-content"></div>
        <div class="grid-col-4 demo-content"></div>
      </div>
    </div>
    <div class="grid-container demo-grid">
      <div class="grid-row grid-gap-md">
        <div class="grid-col-3 demo-content"></div>
        <div class="grid-col-3 demo-content"></div>
        <div class="grid-col-3 demo-content"></div>
        <div class="grid-col-3 demo-content"></div>
      </div>
    </div>
    <div class="grid-container demo-grid">
      <div class="grid-row grid-gap-md">
        <div class="grid-col-8 demo-content"></div>
        <div class="grid-col-4 demo-content"></div>
      </div>
    </div>
    <% end %>
    <!--- End demo content -->
    <script src="<%= js_touchpoint_url(@touchpoint) %>" async></script>
  </body>
</html>
