<div class="well">
  <h1>
    Create a New Touchpoint
  </h1>
  <div class="usa-alert">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        A <i>Touchpoint</i> is an interaction point between a Customer and a Service.
        <br>
        A
        <a href="https://github.com/GSA/touchpoints/wiki/Personas" target="_blank" rel="noopener">Touchpoint Manager</a>
        can create one or more Touchpoints to solicit customer feedback.
        <br>
        A Touchpoint Manager can choose to deliver a Touchpoint web form to a customer
        1) hosted here on Touchpoints or
        2) on an existing website by using a <span class="code">script</span> tag.
      </p>
    </div>
  </div>
  <%= render 'form', touchpoint: @touchpoint %>
</div>

<script>
  $(function(){
    // Select touchpoints-hosted-only form by default
    // when creating a new Touchpoint
    $("label[for='touchpoint_delivery_method_touchpoints-hosted-only']").click()
  })
</script>
