<div class="well">
  <h1>
    Create a New Touchpoint
  </h1>
  <div class="usa-alert">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        A <i>Touchpoint</i> is an interaction point between a Customer and a Service.
        <br>
        A <a href="https://github.com/GSA/touchpoints/blob/master/docs/PERSONAS.md", target="_blank", rel: "noopener">Service Manager</a> can add one or more Touchpoints to an existing Service to solicit customer feedback.
        <br>
        A Service Manager can choose to deliver a Touchpoint to a customer
        1) hosted here on Touchpoints or
        2) on an existing website by using a <span class="code">script</span> tag.
      </p>
    </div>
  </div>
  <%= render 'form', touchpoint: @touchpoint %>
</div>

<script>
  $(function(){
    // Select touchpoints-hosted-only form by default
    // when creating a new Touchpoint
    $("label[for='touchpoint_delivery_method_touchpoints-hosted-only']").click()
  })
</script>
