<br>
<div class="usa-alert usa-alert--info">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">
      This form is not currently accepting feedback
    </h3>
    <p class="usa-alert__text">
      The form,
      <strong><%= form.title %></strong>,
      is not currently published.
    </p>
  </div>
</div>
