<div class="touchpoints-form-wrapper" data-touchpoints-form-id="<%= @form.short_uuid %>">
<%
# override the delivery method for this `touchpoints-hosted-only` view
# otherwise, fba.js.erb will render the form the 2nd time
@form.delivery_method = "touchpoints-hosted-only"
%>
<% if @form.aasm_state == 'archived' %>
  <%= render 'archived_form', form: @form %>
<% else %>
  <div class="javascript-disabled-message text-center padding-3">
    Javascript is required for this form to function properly.
    <br>
    Javascript does not appear to be enabled.
  </div>
  <div class="touchpoint-form hide">
    <%= render 'form', form: @form %>
  </div>
<% end %>
</div>
