<div class="grid-container maintenance">
  <div class="grid-row">
    <div class="grid-col">
      <div class="usa-logo text-center" id="extended-logo">
        <a href="/" title="Touchpoints" aria-label="Home">
          <%= image_tag "touchpoints-logo-@2x.png", class: "header-logo", alt: "Touchpoints logo" %>
        </a>
      </div>
      <article class="usa-prose text-center">
        <h1 class="">
          Internal Server Error (500)
        </h1>
        <div class="message">
          <p>
            An error has occurred processing your request.  Our support team has been notified and we will correct the issue shortly.
            <br>
            We apologize for any inconvenience this may cause.
          </p>
        </div>
      </article>
    </div>
  </div>
  <div class="grid-row">
    <div class="grid-col">
      <footer>
        Contact us:
        <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a>
      </footer>
    </div>
  </div>
</div>
