<h1>Editing cscrm data collection</h1>

<%= render "form", cscrm_data_collection: @cscrm_data_collection %>

<br>

<div>
  <%= link_to "Show this cscrm data collection", @cscrm_data_collection %> |
  <%= link_to "Back to cscrm data collections", admin_cscrm_data_collections_path %>
</div>
