<% content_for :navigation_title do %>
  CSCRM Data Collections
<% end %>

<p>
  <%= link_to admin_cscrm_data_collections_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CSCRM Data Collections
  <% end %>
</p>

<div class="grid-row margin-bottom-3">
  <div class="desktop:grid-col-6">
    <div class="font-sans-lg">
      PART 1: REPORTING REQUIREMENTS
    </div>
    <p>
      Agencies are required to report on select C-SCRM benchmarks. This initial cycle will be used to baseline responses,
      gauge agencies’ C-SCRM implementation progress and to inform budgetary and programmatic requirements to build an
      effective C-SCRM capability. This IDC reflects the first iteration of reporting requirements in a multi-phased,
      multi-year effort to mature C-SCRM across executive branch agencies. Data will be collected semi-annually to monitor and
      assess progress as well as identify barriers and challenges.
    </p>
    <div class="font-sans-lg">
      ASSESSMENT
    </div>
    <p>
      This self-assessment is a living document and will be updated and revised as program capabilities and needs evolve,
      mature, and change. The assessment consists of benchmark factors for each of the six functions. The demonstrative
      statements were adapted from NIST guidance as well as
      <a href="https://www.gao.gov/products/gao-21-171" target="_blank" rel="noopener">GAO-21-171</a>.
    </p>

    <%= render "form", cscrm_data_collection: @cscrm_data_collection %>
  </div>
</div>
