<h1>Editing Question Option</h1>

<%= render 'form', form: @question.form, question: @question, question_option: @question_option %>

<%= link_to 'Show', admin_form_question_question_option_path(@question.form, @question, @question_option) %> |
<%= link_to 'Back', admin_form_question_question_options_path(@question.form, @question) %>
