<div class="well">
  <h1>New Question Option</h1>
  <p>
    for the question: <%= @question.text %>
    <br>
    with a question_type of: <%= @question.question_type %>
  </p>

  <%= render 'form', form: @question.form, question: @question, question_option: @question_option %>
  <%= link_to 'Cancel', questions_admin_form_path(@question.form), class: "question-option-cancel" %>
</div>
<script>
  $('.question-option-cancel').on("click", function(event) {
    event.preventDefault();
    $(this).closest('div.new-question-options-div').find('.question-option-form').hide();
    $(this).closest('div.new-question-options-div').find('.form-add-question-option').show();
  });
</script>
