<label class="usa-label">
  <%= question_number %>.
  <%= question.text %>
  <p>
    <span class="usa-tag">
      <%= question.answer_field %>
    </span>
    <% if question.is_required? %>
    <span class="usa-tag bg-secondary-vivid">
      Required
    </span>
    <% end %>
  </p>
</label>
