<div class="grid-row">
  <div class="grid-col-6">
    <div class="login-form">
      <div class="disclaimer">
        <br>
        <br>
        <br>
        <div class="usa-alert">
          <div class="usa-alert__body">
            <p>
              This is a U.S. government service.
              Your use indicates your consent to monitoring,
              recording, and no expectation of privacy.
              Misuse is subject to criminal and civil penalties.
            </p>
            <%= link_to "Read more details", "#disclaimer-modal", "aria-controls" => "read-more-details", "data-open-modal" => "true" %>
            <% if ENV['LOGIN_GOV_CLIENT_ID'].present? %>
            <p>
              <%= link_to user_login_dot_gov_omniauth_authorize_path, id: "agree-button", class: "usa-button sign-in-logo", "aria-label" => "Login.gov" do %>
                Agree and sign in with
                <span>Login.gov</span>
              <% end %>
            </p>
            <% end %>
            <% if ENV['GITHUB_CLIENT_ID'].present? %>
            <p>
              <%= link_to "Agree and sign in with GitHub", user_github_omniauth_authorize_path, id: "agree-button", class: "usa-button" %>
            </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render "components/disclaimer_modal" %>
  </div>
</div>
