<h4>
  Strategic goals (4-year)
</h4>
<div>
  <% @organization.goals.where(four_year_goal: true, parent_id: nil).all.each do |goal| %>
    <div class="well">
      <div class="delete-float-right">
        <%= link_to delete_four_year_goal_admin_organization_path(@organization) + "?goal_id=#{goal.id}", method: :delete, data: { confirm: 'Are you sure?' }, :remote => true do %>
            <i class="fa fa-trash" title="Delete goal"></i>
        <% end %>
      </div>
      <div class="font-sans-lg">
        <%= link_to goal.name, admin_goal_path(goal) %>
      </div>
      <p class="goals-div">
        <% if goal.objectives.size > 0 %>
          Objectives:
        <% end %>
        <ul>
          <% goal.objectives.each do |obj| %>
            <li><%= obj.name %></li>
          <% end %>
        </ul>
      </p>
    </div>
  <% end %>
</div>
<%= link_to "Create 4-yr strategic goal", create_four_year_goal_admin_organization_path(@organization), class: "usa-button", remote: true %>
