<h1>Editing Organization</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'Show', admin_organization_path(@organization) %> |
<%= link_to 'Destroy', admin_organization_path(@organization), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', admin_organizations_path %>
