<% content_for :navigation_title do %>
  Editing Organization
<% end %>
<p>
  <%= link_to admin_organization_path(@organization.slug) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Organization
  <% end %>
</p>
<div class="well">
  <%= render 'form', organization: @organization %>
</div>
<p>
  <%= link_to admin_organization_path(@organization.slug), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary" do %>
    <i class="fas fa-trash"></i>
    Delete
  <% end %>
</p>
