<div class="well">
  <h1>Organizations</h1>
  <table class="usa-table">
    <thead>
      <tr>
        <th>Abbreviation</th>
        <th>Name</th>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.abbreviation %></td>
          <td><%= link_to organization.name, admin_organization_path(organization) %></td>
          <td>
            <%= link_to organization.url, organization.url, target: "_blank", rel: "noopener" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<p>
  <%= link_to 'New Organization', new_admin_organization_path, class: "usa-button" %>
</p>
