<div class="well">
  <h1>New Organization</h1>
  <%= render 'form', organization: @organization %>
</div>
<p>
  <%= link_to 'All Organizations', admin_organizations_path, class: "usa-button usa-button--outline" %>
</p>
