<%
form_options = {
  prompt: t('form.select_one'),
  class: "usa-select",
  id: question.ui_selector,
  name: question.answer_field.to_sym,
  required: question.is_required,
}

if question.help_text.present?
form_options.merge!({
  "aria-describedby" => "question-id-#{question.id}-help-text"
})
end
%>

<fieldset class="usa-fieldset">
  <%= render 'components/question_title_label', question: question %>
  <div class="usa-combo-box margin-bottom-1">
    <%= select_tag(question.answer_field.to_sym,
      options_for_select(question.question_options.each_with_index.map { |option, index| [option.text, option.value] }),
      form_options)
    %>
  </div>
</fieldset>
