<section class="usa-site-alert usa-site-alert--info" aria-label="Site alert">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">
        <%= sanitize(question.text) %>
      </h3>
      <% if question.help_text %>
      <p class="usa-alert__text">
        <%= sanitize(question.help_text) %>
      </p>
      <% end %>
    </div>
  </div>
</section>
