<section
  id="<%= question.ui_selector %>"
  class="usa-site-alert usa-site-alert--info"
  aria-label="Site alert">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading">
        <%= question.text.html_safe %>
      </h3>
      <%- if question.help_text.present? %>
      <p class="usa-alert__text">
        <%= question.help_text.html_safe %>
      </p>
      <% end %>
    </div>
  </div>
</section>
