<fieldset class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <label class="usa-label" for="input-type-text">
    <%= question_number %>.
    <%= question.text %>
  </label>
  <%= text_field_tag question.answer_field.to_sym, nil, class: "usa-input" %>
</fieldset>
