<div class="radios" role="group" aria-labelledby="<%= question.answer_field %>">
  <%= render 'components/question_title', question: question %>
  <%= text_field_tag question.answer_field.to_sym, nil, type: :email, class: "usa-input", required: question.is_required %>
</div>
<script>
	$('#<%= question.answer_field.to_sym %>').blur(function() {
		var EmailRegex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
		var email = $.trim($(this).val());
		if (email.length == 0) {
			showValid($(this));
			return;
		}
		result = EmailRegex.test(email);
		if (!result) {
			showWarning($(this),"Please enter a valid email address");
		} else {
			showValid($(this));
    	}
	});
</script>
