<style>
  .component.thumbs-up-down .prompt {
    font-weight: bold;
  }

  .component.thumbs-up-down .thank-you-message {
    display: none;
  }

  .component.thumbs-up-down .bar {
    color: white;
    border: 1px solid #005ea2;
    background-color: #005ea2;
    padding: 5px;
    width: calc(100% - 40px);
    margin: 0 auto; border-bottom: none;
  }

  .component.thumbs-up-down a {
    color: white;
  }

  .component.thumbs-up-down .expandable-bar {
     border: 1px solid #005ea2;
     width: 100%;
  }
</style>

<div class="component thumbs-up-down">
  <div class="bar">
    <span class="prompt">
      <label for="<%= question.answer_field.to_sym %>">
        <%= question.text %>
      </label>
    </span>
    <span class="thank-you-message">
      <%= form.success_text %>
    </span>

    <div id="<%= question.answer_field.to_sym %>">
      &nbsp;
      <a href="#">Yes</a>
      &nbsp;
      <a href="#">No</a>
    </div>
  </div>
  <div class="expandable-bar">
  </div>
</div>
