<div style="background: #F4F4F4; text-align: center; padding: 1em;">
  <div>
    <label for="<%= question.answer_field.to_sym %>">
      <%= question.text %>
    </label>
  </div>
  <br>
  <button type="button" name="button" class="usa-button">Yes</button>
  <button type="button" name="button" class="usa-button">No</button>
</div>
