<div>
  <label for="<%= question.answer_field.to_sym %>">
    <%= question.text %>
  </label>
  <p class="submit-button">
    <input type="hidden" class="fba-touchpoints-page-form" name="<%= question.answer_field.to_sym %>" value="">
    <input id="fba-touchpoints-page-form-yes" type="submit" value="yes" class="usa-button">
    <input id="fba-touchpoints-page-form-no" type="submit" value="no" class="usa-button">
  </p>
</div>
