<form id="touchpoints-form" action="/touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" method="POST" data-kind="a11">
  <div id="fba-alert">
    alert message
  </div>
  <h3>
    <%= form.title %>
  </h3>
  <p>
    <%= form.instructions %>
  </p>
  <fieldset>
    <table>
      <tr>
        <td></td>
        <td>Strongly Disagree</td>
        <td>Disagree</td>
        <td>Neutral</td>
        <td>Agree</td>
        <td>Strongly Agree</td>
      </tr>
      <tr>
        <td>
          I am satisfied with the service I received from Program or Service name
        </td>
        <td>
          <input type="radio" name="overall_satisfaction" value="1" />
        </td>
        <td>
          <input type="radio" name="overall_satisfaction" value="2" />
        </td>
        <td>
          <input type="radio" name="overall_satisfaction" value="3" />
        </td>
        <td>
          <input type="radio" name="overall_satisfaction" value="4" />
        </td>
        <td>
          <input type="radio" name="overall_satisfaction" value="5" />
        </td>
      </tr>
      <tr>
        <td>
          This interaction increased my confidence in Program or Service name.
        </td>
        <td>
          <input type="radio" name="service_confidence" value="1" />
        </td>
        <td>
          <input type="radio" name="service_confidence" value="2" />
        </td>
        <td>
          <input type="radio" name="service_confidence" value="3" />
        </td>
        <td>
          <input type="radio" name="service_confidence" value="4" />
        </td>
        <td>
          <input type="radio" name="service_confidence" value="5" />
        </td>
      </tr>
      <tr>
        <td>
          My need was addressed.
        </td>
        <td>
          <input type="radio" name="service_effectiveness" value="1" />
        </td>
        <td>
          <input type="radio" name="service_effectiveness" value="2" />
        </td>
        <td>
          <input type="radio" name="service_effectiveness" value="3" />
        </td>
        <td>
          <input type="radio" name="service_effectiveness" value="4" />
        </td>
        <td>
          <input type="radio" name="service_effectiveness" value="5" />
        </td>
      </tr>
      <tr>
        <td>
          It was easy to complete what I needed to do.
        </td>
        <td>
          <input type="radio" name="process_ease" value="1" />
        </td>
        <td>
          <input type="radio" name="process_ease" value="2" />
        </td>
        <td>
          <input type="radio" name="process_ease" value="3" />
        </td>
        <td>
          <input type="radio" name="process_ease" value="4" />
        </td>
        <td>
          <input type="radio" name="process_ease" value="5" />
        </td>
      </tr>
      <tr>
        <td>
          It took a reasonable amount of time to do what I needed
          to do
        </td>
        <td>
          <input type="radio" name="process_efficiency" value="1" />
        </td>
        <td>
          <input type="radio" name="process_efficiency" value="2" />
        </td>
        <td>
          <input type="radio" name="process_efficiency" value="3" />
        </td>
        <td>
          <input type="radio" name="process_efficiency" value="4" />
        </td>
        <td>
          <input type="radio" name="process_efficiency" value="5" />
        </td>
      </tr>
      <tr>
        <td>
           I was treated fairly.
        </td>
        <td>
          <input type="radio" name="process_transparency" value="1" />
        </td>
        <td>
          <input type="radio" name="process_transparency" value="2" />
        </td>
        <td>
          <input type="radio" name="process_transparency" value="3" />
        </td>
        <td>
          <input type="radio" name="process_transparency" value="4" />
        </td>
        <td>
          <input type="radio" name="process_transparency" value="5" />
        </td>
      </tr>
      <tr>
        <td>
           Employees I interacted with were helpful.
        </td>
        <td>
          <input type="radio" name="people_employees" value="1" />
        </td>
        <td>
          <input type="radio" name="people_employees" value="2" />
        </td>
        <td>
          <input type="radio" name="people_employees" value="3" />
        </td>
        <td>
          <input type="radio" name="people_employees" value="4" />
        </td>
        <td>
          <input type="radio" name="people_employees" value="5" />
        </td>
      </tr>
    </table>
    <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if form.disclaimer_text? %>
    <p>
      <%= form.disclaimer_text %>
    </p>
  <% end %>
    <div class="button-wrapper">
      <button type="submit" id="fba-submit" class="usa-button-primary-alt" href="#">Submit</button>
    </div>
  </fieldset>
</form>
