<div class="fba-alert" class="usa-alert" style="display: none;">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading"><%= t 'success' %></h3>
    <p class="usa-alert__text">
      alert message
    </p>
  </div>
</div>
<div class="fba-alert-error" class="usa-alert usa-alert--error" style="display: none;">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading"><%= t 'error' %></h3>
    <p class="usa-alert__text">
      alert message
    </p>
  </div>
</div>
