<div id="fba-alert" class="usa-alert" style="display: none;">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Success</h3>
    <p class="usa-alert-text">
      alert message
    </p>
  </div>
</div>
<div id="fba-alert-error" class="usa-alert usa-alert-error" style="display: none;">
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Error</h3>
    <p class="usa-alert-text">
      alert message
    </p>
  </div>
</div>
