<div id="fba-alert" class="usa-alert" style="display: none;">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Success</h3>
    <p class="usa-alert__text">
      alert message
    </p>
  </div>
</div>
<div id="fba-alert-error" class="usa-alert usa-alert--error" style="display: none;">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">Error</h3>
    <p class="usa-alert__text">
      alert message
    </p>
  </div>
</div>
