<div class="fba-alert usa-alert usa-alert--success" hidden="true">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">
      <%= form.success_text_heading %>
    </h3>
    <p class="usa-alert__text">
      <%= form.success_text %>
    </p>
  </div>
</div>
<div class="fba-alert-error usa-alert usa-alert--error" hidden="true">
  <div class="usa-alert__body">
    <h3 class="usa-alert__heading">
      <%= t 'error' %>
    </h3>
    <p class="usa-alert__text">
      alert message
    </p>
  </div>
</div>
