<% if touchpoint && (touchpoint.form.disclaimer_text? || touchpoint.omb_approval_number.present?) %>
  <hr style="border: none; border-top: 1px solid #E5E5E5;">
  <div class="grid-row">
    <div class="grid-col-12">
      <small id="fba-dialog-privacy">
        <% if touchpoint.form.disclaimer_text? %>
          <p>
            <%= touchpoint.form.disclaimer_text.html_safe %>
          </p>
        <% end %>
      </small>
    </div>
  </div>
  <% if touchpoint.omb_approval_number.present? || touchpoint.expiration_date? %>
  <div class="grid-row">
    <div class="grid-col-12">
      <div style="text-align: right;">
        <small>
          <% if touchpoint.present? %>
            <% if touchpoint.omb_approval_number.present? %>
            OMB Approval #<span class="omb-approval-number"><%= touchpoint.omb_approval_number %></span>
            <% end %>

            <% if touchpoint.expiration_date? %>
            &middot;
            Exp. Date <%= touchpoint.expiration_date.strftime("%m/%d/%Y") %>
            <% end %>
          <% else %>
          OMB Approval #<span class="omb-approval-number">00000000</span>
          &middot;
          Exp. Date MM/DD/YYYY
          <% end %>
        </small>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
