<%- if form && form.disclaimer_text? %>
<div class="touchpoints-form-disclaimer">
  <hr class="border-0 border-gray-10 border-top">
  <div class="grid-container">
    <div class="grid-row">
      <div class="grid-col-12">
        <%- if form.disclaimer_text? %>
        <small class="fba-dialog-privacy">
          <%= sanitize(form.disclaimer_text) %>
        </small>
        <% end -%>
      </div>
    </div>
  </div>
</div>
<% end -%>

<%= render "components/forms/footer_banner", form: form %>
