<div style="text-align: right; margin-bottom: 36px; border-top: 1px solid #E5E5E5;">
  <small>
    OMB Approval #<span class="omb-approval-number"><%= touchpoint.omb_approval_number %></span>
  </small>
</div>
