<form id="touchpoints-form" action="<%= root_url %>touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" data-kind="open-ended-with-contact-info" method="POST">
  <fieldset>
    <textarea id="fba-text-body" name="fba-text-body" class="body"></textarea>
    <label for="fba-text-name">Name</label>
    <input id="fba-text-name" name="fba-text-name" class="full-name" type="text" maxlength="500" />
    <label for="fba-text-email">Email address</label>
    <input id="fba-text-email" name="fba-text-email" class="email-address" type="email" maxlength="150" />
  <% if form.disclaimer_text? %>
    <p>
      <%= form.disclaimer_text %>
    </p>
  <% end %>
    <div class="button-wrapper">
      <button type="submit" id="fba-submit" class="usa-button-primary-alt" href="#">Submit</button>
    </div>
  </fieldset>
</form>
