<form id="touchpoints-form" action="/touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" data-kind="open-ended" method="POST">
  <div id="fba-alert">
    alert message
  </div>
  <h3>
    <%= form.title %>
  </h3>
  <p>
    <%= form.instructions %>
  </p>
  <fieldset>
    <label for="fba-text-body">Body</label>
    <textarea id="fba-text-body" name="fba-text-body" class="body"></textarea>
    <%#= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <% if form.disclaimer_text? %>
    <p>
      <%= form.disclaimer_text %>
    </p>
  <% end %>
    <div class="button-wrapper">
      <button type="submit" id="fba-submit" class="usa-button-primary-alt" href="#">Submit</button>
    </div>
  </fieldset>
</form>
