<form id="recruiter-form" action="/touchpoints/<%= Touchpoint.first.id %>/submissions.json" method="POST">
  <div id="fba-alert">
    alert message
  </div>
  <h3>Grow with us</h3>
  <p>Share feedback about the new farmers.gov website and recommend additional features.</p>
  <fieldset>
    <label for="fba-text-phone">Body</label>
    <textarea id="fba-text-phone" name="fba-text-body" class="body"></textarea>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="button-wrapper">
      <button type="submit" id="fba-submit" class="usa-button-primary-alt" href="#">Submit</button>
    </div>
  </fieldset>
</form>
