<form id="touchpoints-form" action="<%= root_url %>touchpoints/<%= touchpoint.present? ? touchpoint.id : nil %>/submissions.json" data-kind="open-ended" method="POST">
  <fieldset>
    <textarea id="fba-text-body" name="fba-text-body" class="body"></textarea>
  <% if form.disclaimer_text? %>
    <p>
      <%= form.disclaimer_text %>
    </p>
  <% end %>
    <div class="button-wrapper">
      <button type="submit" id="fba-submit" class="usa-button-primary-alt" href="#">Submit</button>
    </div>
  </fieldset>
</form>
