<p class="text-base font-sans-2xs">
    For any questions about Organizational Form Approval, please contact
    <%= form.organization.name %>'s
    form approvers.
    <ul class="usa-list text-base font-sans-2xs">
    <% form.organization.organizational_form_approvers.each do |user| %>
        <li>
            <%= link_to user.email, "mailto:#{user.email}" %>
        </li>
    <% end %>
    </ul>
</p>