<% @form = form %>
<div class="usa-alert__body">
  <p>
    <%= link_to example_admin_form_path(@form), class: "usa-button usa-button--outline width-full", target: "_blank", rel: "noopener" do %>
      <i class="fa fa-eye"></i>
      Preview
    <% end %>
  </p>
</div>