<% content_for :navigation_title do %>
  <i class="fa fa-envelope"></i>
  Editing Notification Settings: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>

<div class="grid-row">
  <div class="grid-col-12">
    <%= render 'admin/forms/form_notifications', form: @form %>
  </div>
</div>
