<% content_for :navigation_title do %>
  <i class="fa fa-envelope"></i>
  Editing Notification Settings: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>

<%- if is_at_least_form_manager?(user: current_user, form: @form) %>
  <%= render 'components/roles_and_permissions_notifications',
    form: @form,
    available_members: @available_members,
    users: @form.users.order(:email)
  %>
<% end %>
