<% content_for :navigation_title do %>
  Editing Questions for Survey: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Surveys
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<div class="grid-row">
  <div class="grid-col">
    <h2>
      Form Builder
    </h2>
    <div class="form-builder">
      <%= render partial: "components/forms/edit/builder", locals: { touchpoint: @touchpoint, form: @form, questions: @form.questions } %>
    </div>
  </div>
</div>
