<% content_for :navigation_title do %>
  Editing Questions for: <%= @form.name %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Surveys
  <% end %>
</p>
<%= render 'admin/forms/nav', form: @form %>
<br>
<div class="grid-row">
  <div class="grid-col">
    <div class="questions-spa-div">
      <div class="form-builder">
        <%= render partial: "components/forms/edit/builder", locals: { touchpoint: @touchpoint, form: @form, questions: @form.questions } %>
      </div>
    </div>
    <br>
  </div>
</div>
<div id="fba-modal" class="hide usa-prose">
  <div id="fba-modal-dialog" class="fba-modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>
