<h1>
  Welcome to Touchpoints
</h1>
<p>
  A <strong>Touchpoint</strong>
  is the interaction point between a Customer and Service Provider.
</p>
<p>
  Touchpoints exists to help Federal Agencies:
</p>
<ul class="usa-list">
  <li>Administer the A-11 Form</li>
  <li>Streamline CX CAP Goal reporting</li>
  <li>Solicit open-ended Feedback</li>
  <li>Recruit users to talk to during product and service development</li>
</ul>
<% unless current_user %>
<br>
<p>
<% if ENV.fetch('GITHUB_CLIENT_ID').blank? %>
  If you have a .gov address,
  <br>
  <br>
  <%= link_to "Sign in with Login.gov", user_login_dot_gov_omniauth_authorize_path, class: "usa-button" %>
<% else %>
  If you have a github account,
  <br>
  <br>
  <%= link_to "Sign in with Github", user_github_omniauth_authorize_path, class: "usa-button" %>
<% end %>
</p>
<% end %>
