<h1>
  Welcome to Touchpoints
</h1>
<p>
  In the practice of Service Design, a `Touchpoint` is where the exchange between a Customer and Service Provider occurs.
</p>
<p>
  Touchpoints is great for:
</p>
<ul>
  <li>Soliciting open-ended Feedback</li>
  <li>Recruiting</li>
  <li>Complying with A11 the 7 Question Form</li>
</ul>
Also,
<ul>
  <li>Website Tag Management</li>
  <li>Event-tracking</li>
  <li><a href="https://digital.gov/dap">Digital Analytics Program</a> Integration</li>
  <li>.gov Google Analytics Integration</li>
</ul>
<hr>
<% unless current_user %>
<p>
  If you have a .gov address,
  <br>
  <a href="/users/sign_up" class="usa-button">Sign Up</a>
</p>
<hr>
<% end %>
<p>
  Touchpoints is a product provided by the Feedback Analytics Program in OPP.
  Contact <a href="mailto:feedback@gsa.gov">Feedback Analytics Team</a> for questions &amp; feedback.
</p>
