<% unless current_user %>
<br>
<div class="grid-row grid-gap-md usa-prose">
  <div class="grid-col-6">
    <h2>
      Sign up
    </h2>
    <% if ENV['LOGIN_GOV_CLIENT_ID'].present? %>
    <p>
      Any federal employee with a .gov or .mil email address can use Touchpoints.
      Your account will be automatically created the first time you sign in.
    </p>
    <p>
      <%= link_to "Sign up with Login.gov", user_login_dot_gov_omniauth_authorize_path, class: "usa-button usa-button--outline" %>
    </p>
    <% end %>
  </div>
  <div class="grid-col-6">
    <h2>
      Sign in
    </h2>
    <% if ENV['LOGIN_GOV_CLIENT_ID'].present? %>
    <p>
      Touchpoints uses Login.gov to handle user accounts.
      Once you authenticate with Login.gov, you will be signed in and redirected back to Touchpoints.
    </p>
    <p>
      <%= link_to "Sign in with Login.gov", user_login_dot_gov_omniauth_authorize_path, class: "usa-button" %>
    </p>
    <% end %>
    <% if ENV['GITHUB_CLIENT_ID'].present? %>
    <p>
      If you have a GitHub account,
      <br>
      <br>
      <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path, class: "usa-button usa-button" %>
    </p>
    <% end %>
    <br>
  </div>
</div>
<% end %>
