<h3>
  Welcome to Touchpoints!
</h3>
<p>
  Thank you for signing up.
  Touchpoints is designed to make feedback
  easy for .gov webmasters.
</p>
<div class="usa-alert usa-alert-info" >
  <div class="usa-alert-body">
    <h3 class="usa-alert-heading">Next steps?</h3>
    <p class="usa-alert-text">
      Contact Lauren Ancona or Ryan Wold,
      of the TTS/OPP Feedback Analytics team.
      After associating your new account with the right Organization,
      they can answer any questions you may have before proceeding.
    </p>
  </div>
</div>
