<h1>
  U.S. Digital Registry
</h1>

<div
  class="usa-summary-box"
  role="region"
  aria-labelledby="summary-box-key-information"
>
  <div class="usa-summary-box__body">
    <h3 class="usa-summary-box__heading" id="summary-box-key-information">
      Managing Services in Touchpoints
    </h3>
    <div class="usa-summary-box__text">
      <p>
        Verify the official status of social media and public-facing collaboration accounts, mobile apps, and mobile websites that represent U.S. government agencies, organizations, or programs.
      </p>
      <p>
        Accounts are managed by federal agencies, heads of agencies, or members of the President’s Cabinet. For customer service on accounts, please contact their programs directly.
      </p>
      <p>
        Need help? Email the registry at
        <a href="mailto:usdigitalregistry@gsa.gov">usdigitalregistry@gsa.gov</a>
      </p>
    </div>
  </div>
</div>

<div class="grid-row">
  <div class="grid-col-12">
    <h2 class="text-center">
      Search the registry
    </h2>
    TODO: Search form
  </div>
</div>
<div class="grid-row">
  <div class="grid-col-12">
    <h3>
      Websites
    </h3>
    TODO: Search form
  </div>
</div>
<div class="grid-row">
  <div class="grid-col-12">
    <h3>
      Mobile Applications
    </h3>
    TODO: Search form
  </div>
</div>
<div class="grid-row">
  <div class="grid-col-12">
    <h3>
      Social Media Accounts
    </h3>
    TODO: Search form
  </div>
</div>
<div class="grid-row">
  <div class="grid-col-12">
    <h3>
      Non-Government Domain Lookup
    </h3>
  </div>
</div>
<div class="grid-row grid-gap-lg well">
  <div class="grid-offset-2 grid-col-4">
    <h3>
      Federal Agencies
    </h3>
    <a href="/registry/guidance/" class="usa-button">
      Register and manage accounts
    </a>
    <p>
      Help prevent exploitation from unofficial sources,
      phishing scams, or malicious entities.
    </p>
  </div>
  <div class="grid-col-4">
    <h3>
      Developers
    </h3>
    <a href="https://github.com/gsa/touchpoints/wiki/API/" class="usa-button">
      Use and improve the API
    </a>
    <p>
      Access the
      <a href="https://open.gsa.gov/api/digital-registry/" target="_blank" rel="noopener">U.S. Digital Registry API</a>
      or its
      <a href="https://github.com/gsa/touchpoints/">GitHub repo</a>
      to test, evaluate, improve and use it.
    </p>
  </div>
</div>
