<div class="grid-row margin-bottom-2 grid-gap-lg">
  <div class="desktop:grid-col-6 tablet:grid-col-12 margin-left-auto margin-right-auto">
    <div
      class="usa-summary-box margin-top-2"
      role="region"
      aria-labelledby="registry-introductory-text"
    >
      <div class="usa-summary-box__body">
        <h1 class="margin-top-0 margin-bottom-0">
          <%= image_tag "/images/us-digital-registry-logo.png", alt: "U.S. Digital Registry", id: "registry-introductory-text", style: "max-width: 288px;" %>
        </h1>

        <div class="usa-summary-box__text font-sans-xs">
          <p>
            The U.S. Digital Registry originated in
            <a href="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2017/m-17-06.pdf" class="usa-link usa-link--external" target="_blank" rel="noopener">OMB Memorandum M-17-06</a>.
            In September 2023, M-17-06 was rescinded by
            <a
              href="https://www.whitehouse.gov/wp-content/uploads/2023/09/M-23-22-Delivering-a-Digital-First-Public-Experience.pdf"
              target="_blank"
              rel="noopener">
              M-23-22 - Delivering a Digital-First Public Experience</a>.
          </p>
          <p>
            As of September 19, 2024, the public-facing Digital Registry search page has been deprecated.
          </p>
          <p>
            For questions, please contact
            <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
