<p>
  <%= link_to registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Registry
    <% end %>
</p>


<div class="grid-row margin-top-2">
  <div class="grid-col-12">
    <h2>
      U.S. Digital Registry for Federal Agencies
    </h2>
  </div>
</div>

<div class="grid-row grid-gap-lg usa-prose">
  <div class="desktop:grid-col-6">
    <h4>
      Federal agencies can:
    </h4>
    <ul>
      <li>
        Register official social media accounts, mobile websites, and apps.
        <br>
        Do not register personal, employee, or other types of accounts.
      </li>
      <li>
        Maintain accurate information about accounts, mobile websites, and apps.
      </li>
      <li>
        Annually review and update registered accounts, websites, and apps.
      </li>
      <li>
        Immediately archive deleted accounts
      </li>
    </ul>
  </div>
</div>

<div class="grid-row usa-prose margin-bottom-3">
  <div class="desktop:grid-col-6 tablet:grid-col-12">
    <div class="collection">
      <h3>
        Register and Manage Accounts
      </h3>
      <p>
        A valid .gov or .mil email address using a
        <a href="https://www.login.gov">Login.gov</a>
        account is required for federal government employees and contractors to create and manage accounts in the Registry.
      </p>

      <p>If you don’t already have a
        <a href="https://www.login.gov">Login.gov</a> account with your government email address,
        create an account when upon <%= link_to "log in", new_user_session_path %>.
      </p>

      <p>
        For assistance, email
        <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a>.
      </p>
    </div>
  </div>

</div>
