<p>
  <%= link_to registry_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Registry
    <% end %>
</p>


<div class="grid-row margin-top-2">
  <div class="grid-col-12">
    <h2>
      U.S. Digital Registry for Federal Agencies
    </h2>
  </div>
</div>

<div class="grid-row grid-gap-lg usa-prose">
  <div class="desktop:grid-col-6">
    <h4>
      Federal agencies must:
    </h4>
    <ul>
      <li>
        Register official social media accounts, mobile websites, and apps. Do not register personal, employee, or other types of accounts.
      </li>
      <li>
        Maintain accurate information about accounts, mobile websites, and apps.
      </li>
      <li>
        Annually review and update registered accounts, websites, and apps.
      </li>
      <li>
        Immediately archive deleted accounts
      </li>
    </ul>
  </div>
  <div class="desktop:grid-col-6">
    <h4>
      OMB Memo M-17-06
    </h4>
    <p>
      To help confirm the validity of official U.S. Government digital platforms,
      within 60 days of the publication date of the Memorandum, agencies must register their public-facing digital services such as social media, collaboration accounts, mobile apps and mobile websites, with the U.S. Digital Registry--
      <a href="https://www.whitehouse.gov/wp-content/uploads/legacy_drupal_files/omb/memoranda/2017/m-17-06.pdf?tp">“Policies for Federal Agency Public Websites and Digital Services.”</a>
      See (10. Comply with Third-Party Website and Application Requirements).
    </p>
  </div>
</div>

<div class="grid-row usa-prose margin-bottom-3">
  <div class="desktop:grid-col-6 tablet:grid-col-12">
    <div class="collection">
      <h3>
        Register and Manage Accounts
      </h3>
      <p>
        A valid .gov or .mil email address using a
        <a href="https://www.login.gov">Login.gov</a>
        account is required for federal government employees and contractors to create and manage accounts in the Registry.
      </p>

      <p>If you don’t already have a
        <a href="https://www.login.gov">Login.gov</a> account with your government email address, follow the instructions on the log in page to create an account.
      </p>

      <p>
        For assistance, email
        <a href="mailto:feedback-analytics@gsa.gov">feedback-analytics@gsa.gov</a>.
      </p>
    </div>
  </div>

</div>
