<div class="grid-row grid-gap-md">
  <div class="grid-col-3">
    <ol>
      <li>
        <a href="#summary">Service Summary</a>
      </li>
      <li>
        <a href="#data-use">Data Collection, Use, and Security</a>
      </li>
      <li>
        <a href="#touchpoints">Use of Touchpoints</a>
      </li>
      <li>
        <a href="#users">Service Purpose and Potential Users</a>
      </li>
      <li>
        <a href="#benefit">Service Benefit</a>
      </li>
      <li>
        <a href="#description">Service Detail</a>
      </li>
      <li>
        <a href="#funding">Funding</a>
      </li>
      <li>
        <a href="#right-to-limit">Right to Limit</a>
      </li>
      <li>
        <a href="#termination">Service Termination</a>
      </li>
      <li>
        <a href="#changes">Changes</a>
      </li>
      <li>
        <a href="#disclaimer">Disclaimer of Warranties</a>
      </li>
      <li>
        <a href="#limited-liability">Limitations on Liability</a>
      </li>
      <li>
        <a href="#general-represenations">General Represenations</a>
      </li>
      <li>
        <a href="#miscellaneous">Miscellaneous</a>
      </li>
      <li>
        <a href="#no-waiver">No Waiver of Rights</a>
      </li>
    </ol>
  </div>
  <div class="grid-col-9">
    <h1>
      Terms of Service
    </h1>

    <p>
      Version 1.0, updated: 07/18/2019
    </p>

    <p>
      TOUCHPOINTS TERMS OF SERVICE FOR HIGH IMPACT SERVICE PROVIDERS
      <br>
      ADMINISTERED BY THE U.S. GENERAL SERVICES ADMINISTRATION
    </p>
    <a name="summary"></a>
    <h3>
      1.0 SERVICE SUMMARY
    </h3>
    <p>
      “Touchpoints” is an open-source software application created and maintained by the U.S.
      General Services Administration (GSA) provided to agencies at no-cost for the terms of service
      outlined in this document. Touchpoints enables government agencies to solicit and process
      user feedback to support the continuous improvement of public systems, services, processes,
      and policies.
    </p>
    <p>
      The following terms of service (“Terms”) governing GSA’s Touchpoints website and services,
      including the content, documentation, code, and related materials are offered subject to your
      acceptance of the Terms, as well as any relevant sections of the Touchpoints Site Policies
      (collectively, the “Agreement”). Access to or use of Touchpoints services or its content
      constitutes acceptance to this Agreement.
    </p>
    <p>
      Initially, Touchpoints is for use by High Impact Service Providers and other agencies beginning
      to collect customer feedback in line with OMB Circular A-11 Section 280.
    </p>
    <a name="data-use"></a>
    <h3>
      2.0 DATA COLLECTION, USE, AND SECURITY
    </h3>
    <h4>
      2.1 REPORTING AND DATA MANAGEMENT
    </h4>
    <ul>
      <li>
        Touchpoints collects customer feedback submissions as they’re submitted in the
        application as a table.
        You can export this raw data as a .CSV file and use for their own
        analysis purposes.
      </li>
      <li>
        Two weeks prior to each quarterly reporting deadline for FY19 and FY20 (or the current
        reporting schedule as defined in A-11 guidance), Feedback Analytics program staff will
        contact each HISP, request they review their data for the previous reporting period and
        ask the agency to submit any additional qualitative details, transactional context, or
        other data elements required by OMB.
      </li>
      <li>
        Following review, HISPs will need to approve their data as ready for submission to OMB.
        For now, the approval process will be communicated by the Feedback Analytics team to
        HISP staff via email. Touchpoints will pursue development of an automated mechanism
        for HISPs to mark their data approved for submission to OMB.
      </li>
      <li>
        Once approved by agency, the Feedback Analytics team will submit certified data to
        OMB on its behalf on or before the day of the submission deadline.
      </li>
      <li>
        The Feedback Analytics team will continue to investigate ways to automate, streamline,
        and reduce the reporting burden for agencies while still giving them the ability to certify
        their data before it is reported.
      </li>
    </ul>

    <h4>
      2.2 SECURITY
    </h4>

    <ul>
      <li>
        Touchpoints is covered by a FIPS 199 Moderate LATO (Lightweight Authority to
        Operate). Details can be found in the Touchpoints System Security Plan (SSP) document.
        Agencies may request a copy of the SSP by contacting the Touchpoints team at
        <%= link_to "touchpoints-support@gsa.gov", "mailto:touchpoints-support@gsa.gov" %>
      </li>
      <li>
        Touchpoints is pursuing a 1-year full ATO after the LATO.
      </li>
      <li>
        Data is encrypted via HTTPS while in transit.
      </li>
      <li>
        Data is encrypted in cloud.gov’s database at rest through the Amazon Relational
        Database Service (RDS).
      </li>
      <li>
        Users are logged out of the Touchpoints application after 15 minutes of inactivity
      </li>
      <li>
        Touchpoints uses a variety of security methods to protect this U.S. government service
        and agency data to ensure the service remains available to all users. These methods
        include monitoring and recording network traffic (any data going in and out of
        Touchpoints) to identify unauthorized attempts to change information or otherwise
        cause damage.
      </li>
      <li>
        Unauthorized access or use of Touchpoints (e.g. use for criminal purposes or to cause
        damage) is against the law, and may subject individuals to criminal prosecution and
        penalties.
      </li>
    </ul>

    <h4>
      2.3 DATA PRIVACY AND MANAGEMENT
    </h4>
    <ul>
      <li>
        Although GSA will own the data generated by these collections, it agrees not to disclose
        the data or allow access to any person outside the Feedback Analytics team except
        pursuant to a Freedom of Information Act (FOIA) request, Government Accountability
        Office or Inspector General engagements as appropriate, and as authorized by Federal
        statute or regulation or pursuant to a court order from a court of competent
        jurisdiction.
      </li>
      <li>
        Agency users own any data that they export and download from their Touchpoints
        account.
      </li>
      <li>
        For the purposes of data security and data use, GSA assumes all liability for its
        government staff and contractors with access to the data.
      </li>
      <li>
        Outside of GSA’s described use of sharing certified data with OMB in the manner
        described in OMB Circular A-11 Section 280, GSA shall not disclose, release, reveal,
        show, sell, rent, lease, loan, or otherwise grant access to the information and data
        shared and/or emanating from the activities covered by this Agreement to any person.
      </li>
      <li>
        GSA further agrees that access to the data generated in these collections shall be limited
        to the minimum number of individuals required to manage the Touchpoints service.
      </li>
      <li>
        Touchpoints provides the ability for agency Service Managers to “flag” survey
        submissions in the event they contain spam, irrelevant, or abusive content. Flagged
        responses will be omitted from the online Submissions table viewable in Touchpoints,
        and excluded from downloadable CSV reports. Records of these submissions may be
        retained by GSA in audit logs for security compliance and applicable data retention
        policies.
      </li>
      <li>
        GSA will retain survey instrument and submission data as advised in the following record
        schedules:
      </li>
      <ul>
        <li>
          352.2 – Information Hosting Records
          <ul>
            <li>
              This group of records is focused on the information services that GSA
              provides to others outside of GSA. Examples include Data.gov and
              USA.gov. Such activities include creating and maintaining web content for
              both the public and outside the agency, and related records in developing
              and managing and closing down such a service.
            </li>
          </ul>
        </li>
        <li>
          352.2/011 - Publicly-posted Information (DAA-0352-2016-0001-0004)
          <ul>
            <li>
              This series consists of content (information and documents) in a variety
              of formats posted by GSA on agency web sites hosted by GSA, and
              content posted on, or submitted via, those web sites by the public.
              Included are static web pages, historically insignificant public dialogues
              such as forums, surveys, and comment postings, regulatory or statutorily
              mandated public postings, and related records. This schedule item
              covers copies of content received from agencies and posted by GSA on
              the web sites. The record copy of the content (retained by the
              originating agency) is covered by the records schedules of the agencies
              that originated the content. The content posted to the web sites by the
              public is covered by this schedule item.
            </li>
            <li>
              <i>Temporary</i>. Cutoff at the end of the fiscal year in which the posting
              becomes superseded, obsolete, or canceled. Destroy 3 years after cutoff.
              Longer retention is authorized in order to comply with requirements for
              public posting stipulated by regulation, agency directives, OMB or GAO
              mandates, or similar authorities.
            </li>
          </ul>
        </li>
        <li>
          352.2/021 – Information Service Program Management Records
          (DAA-0352-2016-0001-0005)
          <ul>
            <li>
              This series of records is concerned with creating and managing an
              information resource (e.g., Data.gov and USA.gov) for use or reference by
              the public and/or Federal agencies in carrying out their work. Included
              are change management decisions, planning documents, promotional
              materials, review reports, correspondence, and related records.
            </li>
            <li>
              <i>Temporary</i>. Cut off at the end of the fiscal year. Destroy 3 years after
              cutoff. Longer retention is authorized if required for statutory or
              authoritative reasons, such as directives agreements, contracts, OMB or
              GAO requirements, or similar authorities.
            </li>
          </ul>
        </li>
      </ul>
      <li>
        GSA may maintain data sets developed from the data and store them under the security
        parameters described above so long as GSA removes any personally identifiable
        information, confidential or sensitive information from such data sets (as defined by the
        customer agency point of contact), in the event personally identifiable information or
        other sensitive information was inadvertently included in the dataset collected by GSA.
      </li>
    </ul>

    <a name="touchpoints"></a>
    <h3>
      3.0 USE OF TOUCHPOINTS
    </h3>

    <p>
      <i>Onboarding</i>
    </p>
    <ul>
      <li>
        You should identify an “Organization Manager.” This person will be given detailed
        information about the tool and participate in a demo. After answering a few key
        questions, a Touchpoints account will be created for this user and training will be given
        as needed in order to commence the onboarding process.
      </li>
      <li>
        The Feedback Analytics team will reach out to this Organization Manager to begin to
        develop the agency’s internal account structure (additional owners, service managers,
        people that may view submissions only, etc.). Additional individuals identified by agency
        staff will be given Touchpoints accounts as relevant. Agency shall be responsible for
        notifying Feedback Analytics staff of user accounts that should be deactivated due to
        reassignment or separation from service.
      </li>
      <li>
        The Feedback Analytics team will provide approximately 20 hours of onboarding
        support to discuss Touchpoints account management, identification of initial survey
        point, and will coordinate PRA approval of A-11 survey questions on behalf of agency.
      </li>
    </ul>

    <p>
      <i>Set-up</i>
    </p>

    <ul>
      <li>
        Each HISP is entitled to up to 3 A-11 form survey collections through Touchpoints in
        FY19 and FY20, with an unlimited amount of responses.
      </li>
      <li>
        At this time, Touchpoints generates a survey URL for distribution to customers (e.g, via
        an agency’s email servers or social media accounts), on a kiosk (via agency-owned
        hardware such as tablets, phones, or computers available at service centers) or
        embedded in a website online. In the future, Touchpoints will explore methods for
        receiving submission via other feedback channels or accepting feedback from manually
        administered surveys.
      </li>
      <li>
        A-11 surveys administered in Touchpoints are limited to:
        <ul>
          <li>
            No more than 12 survey questions in total per survey: seven (7) A-11 questions +
            two (2) free response + approximately (3) custom questions
            <ul>
              <li>
                "Custom Questions" must be limited to questions that would be
                considered a non-substantive, non-sensitive question related to
                operational information that helps to put the customer feedback into a
                useable context for the agency. This could include asking which service
                center location was visited, or which service or inquiry type the
                interaction was related to. The Feedback Analytics team reserves the
                right to deem whether a question is appropriate under the PRA clearance
                that GSA operates for this tool.
              </li>
            </ul>
          </li>
          <li>
            Seven (7) question language can be altered for relevancy to point of
            interaction/channel (e.g., questions on employee interaction can be removed for
            interactions that are self-service / web-based touchpoints)
          </li>
        </ul>
      </li>
      <li>
        Agency customers will be required to provide the Feedback Analytics team with
        information needed in order to develop PRA supporting statements. The Feedback
        Analytics team will provide this form, review agency completed information, and submit
        for PRA clearance via the GSA A-11 generic government-wide clearance.
      </li>
      <li>
        Agencies will be provided with the final PRA supporting statements for their records, but
        are not required to submit these documents. GSA will assume the burden hours and
        manage all ICR approvals, updates, and renewals for the A-11 form in Touchpoints. The
        Feedback Analytics team will insert the OMB control number into the survey
        instrument.
      </li>
      <li>
        Agencies will need to notify the Feedback Analytics team if they wish to make any
        changes to the information collection. This would include any change to the instrument
        itself (e.g., question wording), or the delivery mechanism (e.g., potential sample) that
        would result in changes to the clearance of the information collection.
      </li>
      <li>
        The GSA RegSec team will review internal GSA PRA within five (5) business days.
      </li>
    </ul>

    <a name="users"></a>
    <h3>
      4.0 SERVICE PURPOSE AND POTENTIAL USERS
    </h3>
    <p>
      This project provides a means for agencies to manage customer and stakeholder feedback in an
      efficient, timely manner in compliance with Section 280 of OMB Circular A-11 at
      https://www.whitehouse.gov/wp-content/uploads/2018/06/s280.pdf.
    </p>
    <p>
      Section 280.7 establishes seven domains for measuring customer experience.
    </p>

    <ul>
      <li>
        Overall: (1) Satisfaction, (2) Confidence/Trust
      </li>
      <li>
        Service: (3) Quality
      </li>
      <li>
        Process: (4) Ease/Simplicity, (5) Efficiency/Speed, (6) Equity/Transparency
      </li>
      <li>
        People: (7) Employee Helpfulness
      </li>
    </ul>

    <p>
      High Impact Service Providers listed at https://www.performance.gov/cx/HISPList.pdf are
      required to ask questions in these domains of their customers. However, all agencies are
      encouraged to conduct their customer experience measurement in line with these standard
      measures.
    </p>
    <p>
      In order to increase adoption of these measures and establish efficiency and cost savings in
      their administration and collection, the Office of Products and Programs Feedback Analytics
      team is supporting High Impact Service Providers, and in the future, other interested agencies,
      in administering their customer feedback collections. OIRA supports GSA owning a generic
      clearance for section 280 customer feedback surveys on behalf of other agencies. OIRA believes
      it will both increase the quality of customer feedback collections and streamline workload for
      both agencies and OIRA. These collections will be submitted under the GSA burden hour
      calculation.
    </p>
    <p>
      Following review and disposition of public comments on the 60-day Information Collection
      notice, GSA will submit to OMB a 30-day notice to solicit additional public comments.
      Following completion for this new collection, GSA can submit individual information collection
      requests (ICRs) on behalf of the following agencies for approval: Department of Agriculture,
      Department of Commerce, Department of Defense, Department of Education, Department of
      Energy, Department of Health and Human Services, Department of Homeland Security,
      Department of Housing and Urban Development, Department of the Interior, Department of
      Justice, Department of Labor Department of State, United States Agency for International
      Development, the General Services Administration, Department of Transportation, Department
      of the Treasury, Department of Veterans Affairs, Environmental Protection Agency, National
      Aeronautics and Space Administration, the Consumer Financial Protection Bureau, National
      Science Foundation, Nuclear Regulatory Commission, the Small Business Administration, the
      Office of Personnel Management, and Social Security Administration.
    </p>
    <p>
      GSA will only submit collections if they meet the following criteria.
    </p>
    <ul>
      <li>
        The collections are voluntary;
      </li>
      <li>
        The collections are low-burden for respondents (based on considerations of total
        burden hours or burden-hours per respondent) and are low-cost for both the
        respondent and the Federal Government;
      </li>
      <li>
        The collections are non-controversial and do not raise issues of concern to other Federal
        agencies;
      </li>
      <li>
        Any collection is targeted to the solicitation of opinions from respondents who have
        experience with the program or may have experience with the program in the near
        future;
      </li>
      <li>
        Personally identifiable information (PII) is collected only to the extent necessary and is
        not retained;
      </li>
      <li>
        Information gathered is intended to be used for general service improvement and
        program management purposes
      </li>
      <li>
        Upon agreement between OMB and the agency ,all or a subset of information may be
        released as part of A-11, Section 280 requirements only on performance.gov. Additional
        release of data must be done coordinated with OMB.
      </li>
    </ul>

    <p>
      These collections will allow for ongoing, collaborative and actionable communications between
      the Agency, its customers and stakeholders, and OMB as it monitors agency compliance on
      Section 280. It will also allow feedback to contribute directly to the improvement of program
      management. These responses will inform efforts to improve or maintain the quality of service
      offered to the public. If this information is not collected, vital feedback from customers and
      stakeholders on services will be unavailable.
    </p>

    <a name="benefit"></a>
    <h3>
      5.0 SERVICE BENEFIT
    </h3>
    <p>
      Through the use of Touchpoints for customer feedback collection, GSA aims to deliver the
      following benefits for agencies:
    </p>
    <ul>
      <li>
        Reduction in time and logistics required to start customer feedback collection - no
        procurement of an external tool is needed
      </li>
      <li>
        Cost saved from ability to avoid procurement staff time and actual cost of feedback
        collection tool itself
      </li>
      <li>
        Cost savings from centralized analysis and summarization of data in reports provided to
        agencies, reducing agency burden
      </li>
      <li>
        Confidence in tool’s compliance with applicable government security and data
        management protocols
      </li>
      <li>
        Streamlined approvals and support in navigating Paperwork Reduction Act (PRA)
        requirements
      </li>
      <li>
        Guidance and improved quality in collection itself from support of Feedback Analytics
        team in determining where in customer journey it makes sense to collect feedback, how
        to adapt/modify A-11 survey for compliance and in a manner that is actionable
      </li>
      <li>
        Reduction in reporting burden for HISP agency staff: Feedback Analytics team will clean
        and provide data to both agency and OMB as outlined by A-11 Section 280
      </li>
    </ul>

    <a name="description"></a>
    <h3>
      6.0 SERVICE DETAIL
    </h3>
    <p>
      <i>
        Administration
      </i>
    </p>
    <ul>
      <li>
        If they do not do so immediately, Agencies are able to add up to 2 additional A-11
        surveys to evaluate their HISP designated service via Touchpoints for a maximum of 3
        surveys per quarter for FY19 Q3 and Q4.
      </li>
      <li>
        Agency users can contact the Feedback Analytics team at <%= link_to "touchpoints-support@gsa.gov", "mailto:touchpoints-support@gsa.gov" %>.
        The team will respond to customer service inquiries within two (2) business days.
      </li>
    </ul>

    <a name="funding"></a>
    <h3>
      7.0 FUNDING
    </h3>
    <p>
      At this time, the level of service outlined in this agreement is available to agencies at no cost.
      This service is covered under the appropriation of the Office of Products and Platforms and
      Cross-Agency Priority Goal funds. If agencies request additional support, and as the capacity
      grows to increase the services provided, GSA may explore a reimbursable service option.
    </p>

    <a name="right-to-limit"></a>
    <h3>
      8.0 RIGHT TO LIMIT
    </h3>
    <p>
      Users of the website and services must have a valid government email address from a federal
      or District of Columbia government agency. If GSA reasonably believes that you are not a
      federal or District of Columbia government employee, or a contractor acting within the scope of
      its contract with the federal or District of Columbia government, GSA may permanently block
      your use of the website and services.
    </p>
    <p>
      Use of the APIs may be subject to certain limitations on access, calls, or use as set forth within
      this Agreement or otherwise provided by GSA. If GSA reasonably believes that you have
      attempted to exceed or circumvent these limits, your ability to use the API may be permanently
      or temporarily blocked.
    </p>
    <p>
      GSA may monitor your use of its services to improve the service or to ensure compliance with
      this Agreement.
    </p>

    <a name="termination"></a>
    <h3>
      9.0 SERVICE TERMINATION
    </h3>
    <p>
      If you wish to terminate this Agreement, you may do so by refraining from further use of the
      website and services. GSA reserves the right (though not the obligation) to (1) refuse to provide
      the services to you if it is GSA’s opinion that use violates any GSA policy, or (2) terminate or
      deny you access to and use of all or part of the services at any time for any reason in its sole
      discretion. Any hosted applications may also be shut down or removed. All provisions of this
      Agreement which by their nature should survive termination shall survive termination
      including, without limitation, warranty disclaimers, indemnity, and limitations of liability.
    </p>

    <a name="changes"></a>
    <h3>
      10.0 CHANGES
    </h3>
    <p>
      GSA reserves the right, at its sole discretion, to modify or replace this Agreement, in whole or in
      part. Your continued use of or access to the Touchpoints services following the posting of any
      changes to this Agreement constitutes acceptance of those modified terms. GSA may, in the
      future, offer new services or features. Such new features or services shall be subject to the
      terms and conditions of this Agreement.
    </p>

    <a name="disclaimer"></a>
    <h3>
      11.0 DISCLAIMER OF WARRANTIES
    </h3>
    <p>
      Touchpoints services are provided “as is” and on an “as-available” basis. GSA hereby disclaims
      all warranties of any kind, express or implied, including without limitation the warranties of
      merchantability, fitness for a particular purpose, and non-infringement. GSA makes no warranty
      that the services will be error free or that access thereto will be continuous or uninterrupted.
    </p>

    <a name="limited-liability"></a>
    <h3>
      12.0 LIMITATIONS ON LIABILITY
    </h3>
    <p>
      For the purposes of data security and data use, GSA assumes all liability for its government staff
      and contractors with access to the data.
    </p>
    <p>
      In no event other than data security related matters will GSA be liable with respect to any
      subject matter of this Agreement under any contract, negligence, strict liability, or other legal
      or equitable theory for: (1) any special, incidental, or consequential damages; (2) the cost of
      procurement of substitute products or services; or (3) for interruption of use or loss or
      corruption of data.
    </p>

    <a name="general-represenations"></a>
    <h3>
      13.0 GENERAL REPRESENTATIONS
    </h3>
    <p>
      You hereby warrant that (1) your use of the website and services will be in strict accordance
      with the Agreement and all applicable laws and regulations, and (2) your use of the website and
      services will not infringe or misappropriate the intellectual property rights of any third party.
    </p>

    <a name="miscellaneous"></a>
    <h3>
      14.0 MISCELLANEOUS
    </h3>
    <p>
      This Agreement constitutes the entire Agreement between GSA and you concerning the use of
      the Touchpoints website and Feedback Analytics Program services, and may only be modified
      by the posting of a revised version of this page by GSA.
    </p>

    <a name="no-waiver"></a>
    <h3>
      15.0 NO WAIVER OF RIGHTS
    </h3>
    <p>
      GSA’s failure to exercise or enforce any right or provision of this agreement shall not constitute
      waiver of such right or provision.
    </p>

    <br>
    <br>
  </div>
</div>
