<h1>Touchpoints</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
    </tr>
  </thead>

  <tbody>
    <% @touchpoints.each do |touchpoint| %>
      <tr>
        <td><%= link_to touchpoint.name, touchpoint %></td>
        <td><%= touchpoint.purpose %></td>
      </tr>
    <% end %>
  </tbody>
</table>
