<h1>
  Create a New Touchpoint
</h1>
<div class="usa-alert usa-alert" >
  <div class="usa-alert-body">
    <p class="usa-alert-text">
      A Touchpoint is an interaction between a Customer and a Public Service.
      <br>
      A webmaster may add one or more Touchpoints to a website.
      <br>
      Touchpoints are delivered to a website via a Container's Embed Code.
    </p>
  </div>
</div>
<%= render 'form', touchpoint: @touchpoint %>
