<% content_for :navigation_title do %>
  Editing Barrier
<% end %>
<p>
  <%= link_to admin_barrier_path(@barrier) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Barrier
  <% end %>
</p>

<%= render 'form', barrier: @barrier %>

<p>
  <%= link_to admin_barrier_path(@barrier), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary" do %>
  <i class="fa fa-trash"></i>
  Delete
  <% end %>
</p>
