<% content_for :navigation_title do %>
  Barriers
  <%= link_to new_admin_barrier_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-plus-circle"></i>
    New Barrier
  <% end %>
<% end %>
<p>
  <%= link_to admin_forms_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Forms
  <% end %>
</p>

<table class="usa-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @barriers.each do |barrier| %>
      <tr>
        <td><%= link_to barrier.name, admin_barrier_path(barrier) %></td>
        <td><%= barrier.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>
