<% content_for :navigation_title do %>
  Editing CX Data Collection
<% end %>

<p>
  <%= link_to admin_cx_collection_path(@cx_collection) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CX Data Collection
  <% end %>
</p>


<%= render "form", cx_collection: @cx_collection %>

<p>
  <%= link_to admin_cx_collection_path(@cx_collection), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary" do %>
    <i class="fa fa-trash"></i>
    Delete
  <% end %>

  <%= link_to copy_admin_cx_collection_path(@cx_collection), method: :post, class: "usa-button usa-button--outline float-right", data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-copy"></i>
    Copy this collection
  <% end %>
</p>

<br>
<br>
<br>