.code {
  font-family: monospace;
  background-color: #F4F4F4;
  padding: 3px;
  border-radius: 3px;
}
.card,
.touchpoint-card {
  border: 1px solid black;
  padding: 10px;
}
footer {
  margin-top: 16px;
  font-size: 13px;
  padding: 32px 0;
  color: #333;
}
.footer-links {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.footer-info {
  text-align: right;
}
.footer-info a,
.footer-link_style,
.footer-links a {
  color: #333;
  text-decoration: underline;
}
.footer-info,
.footer-links,
.usa-unstyled-list {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
  padding-left: 0;
}
.footer-info li,
.footer-links a,
.footer-text {
  color: #333333;
  line-height: 1.25rem;
}
