// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.code {
  font-family: monospace;
  background-color: #F4F4F4;
  padding: 3px;
  border-radius: 3px;
}

// Override USWDS checkbox because it isn't showing
input[type=checkbox] {
  -webkit-appearance: checkbox;
  position: static;
  left: auto;
}

.touchpoint-card {
  border: 1px solid black;
  padding: 10px;
}
