#fba-modal {
  background-color: rgba(0, 0, 0, 0.375);
  z-index: 10001;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow-x: auto;
  padding: 20px;
}

#fba-modal-dialog {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  position: relative;
  margin: 0 auto;
  border: 1px solid #E5E5E5;
}

.fixed-tab-button {
  position: fixed;
  bottom: 0;
  right: 50px;
  background: #02bfe7;
  color: #fff;
  padding: 5px 10px;
  font-size: 1em;
  text-decoration: none;
  z-index: 9999;
}

#fba-modal-title {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  font-size: 2.5rem;
}

#fba-text-name, #fba-text-email {
  max-width: 100% !important;
  font-size: 100%
}

#fba-modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 24px;
  color: #5b616b;
  background: none;
  line-height: 1;
  text-decoration: none;
  width: auto;
}

/* Form Sections */
#touchpoints-form div.section {
  display: none;
}
#touchpoints-form div.section.visible {
  display: block;
}
/* Ensure all Form Sections show during Preview */
.form-preview #touchpoints-form div.section {
  display: block;
}

.hide {
  display: none;
}
