<div class="well">
  <h1>
    Viewing a User
  </h1>
  <% if @user.admin? %>
    <span class="usa-tag" style="background: #e31c3d;">
      Admin User
    </span>
    <br>
    <br>
  <% end %>
  Email: <%= link_to @user.email, "mailto:#{@user.email}" %>
  <br>
  Organization: <%= @user.organization ? link_to(@user.organization.name, admin_organization_path(@user.organization)) : "Undefined" %>
  <p>
    <%= link_to 'Edit', edit_admin_user_path(@user), class: "usa-button" %>
  </p>
  <div class="well">
    <h4>
      Services
    </h4>
    <% if @services.present? %>
      <ul>
      <% @services.each do |service| %>
        <li>
          <%= link_to service.name, admin_service_path(service) %><br>
        </li>
      <% end %>
      </ul>
    <% else %>
    <div class="usa-alert usa-alert--info" >
      <div class="usa-alert__body">
        <p class="usa-alert__text">
          No Services at this time
        </p>
      </div>
    </div>
    <% end %>
  </div>

</div>
