<div class="well">
  <%= link_to 'Edit user', edit_admin_user_path(@user), class: "usa-button float-right" %>
  <h1>
    Viewing a User
  </h1>
  <% if @user.admin? %>
    <span class="usa-tag" style="background: #e31c3d;">
      Admin User
    </span>
    <br>
    <br>
  <% end %>
  Email: <%= link_to @user.email, "mailto:#{@user.email}" %>
  <br>
  Organization: <%= @user.organization ? link_to(@user.organization.name, admin_organization_path(@user.organization)) : "Undefined" %>
</div>
<div class="well">
  <h4>
    Touchpoints
  </h4>
  <% if @touchpoints.present? %>
    <ul class="usa-list">
    <% @touchpoints.each do |touchpoint| %>
      <li>
        <%= link_to touchpoint.name, admin_touchpoint_path(touchpoint) %><br>
      </li>
    <% end %>
    </ul>
  <% else %>
  <div class="usa-alert usa-alert--info" >
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Touchpoints at this time
      </p>
    </div>
  </div>
  <% end %>
</div>
