<h1>
  Touchpoints Admin
</h1>

<p>
  <ul>
    <li>
      <a class="usa-nav-link admin" href="/admin/organizations">
        <span>Manage Organizations</span>
      </a>
    </li>
    <li>
      <a class="usa-nav-link admin" href="/admin/form_templates">
        <span>Manage Form Templates</span>
      </a>
    </li>
  </ul>
</p>
