<% content_for :full_layout do %>
<section class="dark-blue-bg">
  &nbsp;
  <div class="grid-container">
    <div>
      <h1>
        Welcome to Touchpoints
      </h1>

      <p>
        You are a
        <%= current_user.role %>
        of
        <%= current_user.organization.name %>.
      </p>
    </div>
  </div>
  <br>
</section>
<section>
  <main id="main-content">
    <div class="grid-container">
      <div class="well">
      <% if admin_permissions? %>
        <p>
          <ul class="usa-list">
            <li>
              <a href="/admin/organizations">
                <span>Manage Organizations</span>
              </a>
            </li>
            <li>
              <a href="/admin/forms">
                <span>Manage Forms</span>
              </a>
            </li>
          </ul>
        </p>
      </main>
      <% else %>
        <p>
          <small>
            A Touchpoint is a point of interaction between a service and a User.
            A Touchpoint includes a Form. Customers respond to Forms and create Submissions as feedback.
          </small>
        </p>
        <h4>
          What's next?
        </h4>

        <ol>
          <li>
            Create a Touchpoint
          </li>
          <li>
            Update the Touchpoint's Form
          </li>
          <li>
            Test the Form by creating a Submission
          </li>
          <li>
            Deploy the Form to Users on your website or via your email system
          </li>
          <li>
            Receive feedback from Users
          </li>
        </ol>
      <% end %>
    </div>
  </div>
</section>
<% end %>
