<% content_for :navigation_title do %>
  Integrations
<% end %>

<p>
  <%= link_to admin_dashboard_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin Dashboard
  <% end %>
</p>

<p>
  Data from the Touchpoints API is consumed upstream by:

  <ul>
    <li>
      Performance.gov
    </li>
    <ul>
      <li>
        CX Collections
      </li>
      <li>
        CX Collection Details
      </li>
      <li>
        CX Responses
      </li>
      <li>
        Organizations
      </li>
      <li>
        Service Providers
      </li>
      <li>
        Services
      </li>
    </ul>
  </ul>

  The Performance.gov team pulls this data to generate pages on their Jekyll website.
  <br>
  The D2D team in GSA IT pulls this data for Performance.gov dashboarding.
</p>
