<% content_for :navigation_title do %>
  Integrations
<% end %>

<p>
  <%= link_to admin_root_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Admin
  <% end %>
</p>

<p>
  Data in Touchpoints is consumed upstream by:

  <ul>
    <li>
      Performance.gov
    </li>
    <ul>
      <li>
        <%= link_to "hisps.csv", admin_hisps_path(format: :csv) %> - (High Impact) Service Providers
      </li>
      <li>
        <%= link_to "hisp_services.csv", admin_hisp_services_path(format: :csv) %> - Services, marked as "HISP"
      </li>
      <li>
        question summaries
      </li>
      <li>
        question details
      </li>
    </ul>
  </ul>
</p>
