{
  "openapi": "3.0.1",
  "info": {
    "description": "The Touchpoints API allows agencys users to programatically read Forms and Responses.",
    "version": "0.0.0",
    "title": "Touchpoints API",
    "contact": {
      "name": "Touchpoints",
      "url": "https://touchpoints.digital.gov",
      "email": "feedback-analytics@gsa.gov"
    }
  },
  "servers": [
    {
      "url": "https://api.data.gov/analytics/touchpoints/v0/",
      "variables": {
        "scheme": {
          "description": "API responses are available via https only",
          "enum": [
            "https"
          ],
          "default": "https"
        }
      }
    }
  ],
  "tags": [
    {
      "name": "cx",
      "description": "Customer Experience"
    },
    {
      "name": "feedback",
      "description": "Customer feedback responses"
    },
    {
      "name": "surveys",
      "description": "Customer feedback surveys"
    },
    {
      "name": "performance management",
      "description": "Performance Management"
    }
  ],
  "paths": {
    "/forms": {
      "get": {
        "summary": "List available data sets",
        "operationId": "forms",
        "tags": [
          "forms",
          "surveys"
        ],
        "parameters": {
        },
        "responses": {
          "200": {
            "description": "Returns an array of forms",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "$ref": "#/definitions/Forms"
                }
              }
            }
          }
        }
      }
    },
    "/forms/{short-uuid}/": {
      "summary": "Provides the general information about the API and the list of fields that can be used to query the dataset.",
      "description": "This GET API returns the list of all the searchable field names that are in the oa_citations. Please see the 'fields' attribute which returns an array of field names. Each field or a combination of fields can be searched using the syntax options shown below.",
      "operationId": "forms#show",
      "get": {
        "tags": [
          "forms",
          "surveys",
          "submissions",
          "responses",
          "feedback"
        ],
        "parameters": {
          "name": "id",
          "in": "id",
          "description": "Short UUID of the form",
          "required": true,
          "schema": {
            "type": "string"
          }
        },
        "responses": {
          "200": {
            "description": "The dataset API for the given version is found and it is accessible to consume.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "$ref": "#/definitions/Form"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes":
      "ApiKeyAuth":
        "type": "apiKey"
        "in": "header"
        "name": "X-API-KEY"
    "schemas": {
      "Form": {
        "required": "id",
        "properties": {
          "uuid": {
            "type": "string",
          },
          "organization_id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string",
          },
          "instructions": {
            "type": "string",
          },
          "kind": {
            "type": "string",
          },
          "notes": {
            "type": "string",
          },
          "status": {
            "type": "string",
          },
          "created_at": {
            "type": "string",
          },
          "updated_at": {
            "type": "string",
          },
          "element_selector": {
            "type": "string",
          },
          "whitelist_url": {
            "type": "string",
          },
          "whitelist_test_url": {
            "type": "string",
          },
          "display_header_logo": {
            "type": "boolean",
          },
          "display_header_square_logo": {
            "type": "boolean",
          },
          "early_submission": {
            "type": "boolean",
          },
          "template": {
            "type": "boolean",
          },
          "load_css": {
            "type": "boolean",
          },
          "logo": {
            "type": "object",
          },
          "success_text": {
            "type": "string",
          },
          "modal_button_text": {
            "type": "string",
          },
          "omb_approval_number": {
            "type": "string",
          },
          "expiration_date": {
            "type": "string",
          },
          "federal_register_url": {
            "type": "string",
          },
          "service_name": {
            "type": "string",
          },
          "survey_instrument_reference": {
            "type": "string",
          },
          "survey_form_activations": {
            "type": "integer",
            "format": "int32"
          },
          "anticipated_delivery_count": {
            "type": "integer",
            "format": "int32"
          },
          "submissions": {
            "type": "array",
            "$ref": "#/definitions/Submissions"
          }
        }
      },
      "Forms": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Form"
        }
      },
      "Submission": {
        "required": "form_id",
        "properties": {

        }
      },
      "Submissions": {
        "type": "array",
        "items": {
          "$ref": "#/definitions/Submission"
        }
      }
    }
  }
}
