<% content_for :navigation_title do %>
  Editing cx collection detail
<% end %>

<p>
  <%= link_to admin_cx_collection_detail_path(@cx_collection_detail) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to CX collection detail
  <% end %>
</p>

<%= render "form",
  cx_collection_detail: @cx_collection_detail,
  cx_collections: @cx_collections %>

<br>
<br>

<div class="usa-row">
  <div class="grid-col text-right">
    <%= button_to "Destroy this cx collection detail", admin_cx_collection_detail_path(@cx_collection_detail), method: :delete, class: "usa-button usa-button--secondary" %>
  </div>
</div>

<br>
<br>