<h1>Editing Service Stage Barrier</h1>

<%= render 'form', service_stage_barrier: @service_stage_barrier %>

<%= link_to 'Show', @service_stage_barrier %> |
<%= link_to 'Back', service_stage_barriers_path %>
