<h1>Editing Omb Cx Reporting Collection</h1>

<%= render 'form', omb_cx_reporting_collection: @omb_cx_reporting_collection %>

<%= link_to 'Show', admin_omb_cx_reporting_collection_path(@omb_cx_reporting_collection) %> |
<%= link_to 'Back', admin_omb_cx_reporting_collections_path %>
