<% content_for :navigation_title do %>
  Editing Omb Cx Reporting Collection
  <%= link_to new_admin_collection_path, class: "usa-button usa-button-inverted float-right" do %>
    <i class="fa fa-pencil-alt"></i>
    New Data Collection
  <% end %>
<% end %>

<p>
  <%= link_to admin_collections_path do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Data Collections
  <% end %>
</p>

<%= render 'form', omb_cx_reporting_collection: @omb_cx_reporting_collection %>
