<div id="<%= dom_id ivn_component %>">
  <p>
    <strong>Name:</strong>
    <%= ivn_component.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ivn_component.description %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= ivn_component.url %>
  </p>

</div>
