<% if @goal.goal_targets.present? %>
<ul class="usa-list">
<% @goal.goal_targets.each do |target| %>
  <li>
    <%= link_to target.assertion, edit_admin_goal_goal_target_path(@goal, target), class: "edit-goal-target" %>
    &nbsp;&nbsp;
    <%= link_to admin_goal_goal_target_path(@goal, target), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: "delete-goal-target" do %>
        <i class="fa fa-trash" title="Delete goal target"></i>
    <% end %>
  </li>
<% end %>
</ul>
<% else %>
  <div class="usa-alert margin-bottom-2">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Goal Targets exist.
      </p>
    </div>
  </div>
<% end %>
<%= link_to new_admin_goal_goal_target_path(@goal), class: "usa-button new-goal-target" do %>
  <i class="fa fa-plus"></i>
  New Goal Target
<% end %>
<script>
  $('.new-goal-target').on("click", function(event) {
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $(".goal-targets").html(data);
      }
    });
  });
  $('.edit-goal-target').on("click", function(event) {
    event.preventDefault();
    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $(".goal-targets").html(data);
      }
    });
  });
</script>
