<% if @goal.objectives.present? %>
<ul class="usa-list">
<% @goal.objectives.each do |objective| %>
  <li>
    <%= link_to objective.name, edit_admin_goal_objective_path(@goal, objective), class: "edit-goal-objective" %>
    &nbsp;&nbsp;
    <%= link_to admin_goal_objective_path(@goal, objective), method: :delete, data: { confirm: 'Are you sure?' }, :remote => true, class: "delete-goal-objective" do %>
      <i class="fa fa-trash" title="Delete goal objective"></i>
    <% end %>
  </li>
<% end %>
</ul>
<% else %>
  <div class="usa-alert margin-bottom-2">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        No Goal Objectives exist.
      </p>
    </div>
  </div>
<% end %>
<%= link_to new_admin_goal_objective_path(@goal), class: "usa-button new-goal-objective" do %>
  <i class="fa fa-plus"></i>
  New Goal Objective
<% end %>
<script>
  $('.new-goal-objective').on("click", function(event) {
    event.preventDefault();

    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $(".goal-objectives").html(data);
      }
    });
  });

  $('.edit-goal-objective').on("click", function(event) {
    event.preventDefault();

    $.ajax({
      type: "GET",
      url: $(this).attr("href"),
      success: function (data) {
        $(".goal-objectives").html(data);
      }
    });
  });
</script>
