<% content_for :navigation_title do %>
  Editing Strategic Goal <%= @goal.name %>
<% end %>
<p>
  <%= link_to admin_goal_path(@goal) do %>
    <i class="fa fa-arrow-circle-left"></i>
    Back to Goal
  <% end %>
</p>

<%= render 'form', goal: @goal %>

<div class="grid-row">
  <div class="grid-col">
    <%= link_to admin_goal_path(@goal), method: :delete, data: { confirm: 'Are you sure?' }, class: "usa-button usa-button--secondary float-right" do %>
      <i class="fa fa-trash"></i>
      Delete
    <% end %>
  </div>
</div>
<br>
