<% content_for :navigation_title do %>
  Goals
  <%= link_to new_admin_goal_path, class: "usa-button usa-button-inverted float-right" do %>
  <i class="fa fa-plus-circle"></i>
    New Strategic Goal
  <% end %>
<% end %>

<table class="usa-table">
  <thead>
    <tr>
      <% if admin_permissions? %>
      <th data-sortable scope="col" role="columnheader">Organization</th>
      <% end %>
      <th data-sortable scope="col" role="columnheader">Strategic Goal Title</th>
    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <% if admin_permissions? %>
        <td><%= goal.organization.name %></td>
        <% end %>
        <td><%= link_to goal.name, admin_goal_path(goal) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
