<div class="display-flex flex-align-center flex-justify-between">
  <div class="text-base text-ink margin-left-auto margin-right-2 minw-15">
    <%= page_entries_info submissions %>
  </div>
  <%= paginate submissions, remote: true %>
</div>
