<fieldset class="usa-fieldset">
  <legend class="usa-legend font-serif-md">Submission status
    <%= link_to "https://github.com/GSA/touchpoints/wiki/Feedback-lifecyle", target: "_blank", rel: "noopener" do %>
      <span class="fa fa-info-circle"></span>
    <% end %>
  </legend>
  <p class="font-sans-xs">
    Every response begins with a "received" status.
    You have the option to track additional states of a response by updating its status.
  </p>

  <ol class="usa-process-list">
    <% @submission.aasm.states.each do |state| %>
      <li class="usa-process-list__item padding-bottom-4">
        <p class="usa-process-list__heading font-sans-md line-height-sans-2">
          <span class="<%= @submission.aasm_state == state.name.to_s ? "" : "text-normal text-base-lighter" %>">
            <%= state.name.capitalize %>
          </span>
          <br>
          <div class="font-sans-xs">
          <% unique_transitions = Set.new %>
          <% @submission.aasm.events(permitted: true).each do |event| %>
            <% if @submission.aasm_state == state.to_s %>
              <% event.transitions.each do |transition| %>
                <% if unique_transitions.add?(transition.to) && @submission.aasm_state != transition.to.to_s  %>
                  <%= link_to event.to_s.capitalize,
                        admin_form_submission_path(form, @submission, aasm_state: transition.to),
                        method: :patch
                  %>&nbsp;
                  <% end %>
              <% end %>
            <% end %>
          <% end %>
          </div>
        </p>
    </li>
    <% end %>
  </ol>
</fieldset>

<script>
  $(function(){
    $("#button-toggle-table-display-options").on("click", function() {
      $("#table-display-options").toggle();
      $("#form_ui_truncate_text_responses").focus();
    });

    const element = document.querySelector("form");
    element.addEventListener("ajax:success", (event) => {
      location.reload();
    });
  });
</script>
