<% if submissions.size > 0 %>
  <div id="submissions_table">
    <%= render 'admin/submissions/submissions', submissions: submissions, all_submissions: all_submissions, form: form %>
  </div>
  <br>
  <%= link_to "Export All Responses to CSV", export_submissions_admin_form_url(form, start_date: "2019-10-01", format: "json"), class: "usa-button export-btn" %>
<% else %>
  <div class="usa-alert usa-alert--info">
    <div class="usa-alert__body">
      <p class="usa-alert__text">
        Export is not available.
        This Form has yet to receive any Responses.
      </p>
    </div>
  </div>
<% end %>
<script>
  function truncate(string, length) {
    // Only if the string needs truncating
    if (string.length > length) {
      var truncatedText = $.trim(string).substring(0, length)
      .split(" ").slice(0, -1).join(" ") + "...";
      return truncatedText;
    } else {
      return string;
    }
  }
  // When mousing over a cell with long text, show it all
  // When mousing out, display 50 characters max
  $(function() {
    $(".truncate").on("mouseover", function() {
      $(this).text($(this).attr("fulltext"));
    });

    $(".truncate").on("mouseout", function() {
      $(this).text(truncate($(this).attr("fulltext"), 50));
    });

    $('.export-btn').on("click", function(e) {
      e.preventDefault();
      if ($(this).text() == "Exporting...") {
        console.log("Click disabled while exporting");
        return false;
      }
      var uuid = generateUUID();
      $(this).html('Exporting...').addClass('cursor-not-allowed');
      var url = $(this).attr('href') + '&uuid=' + uuid + '&touchpoint_id=<%= form.short_uuid %>';
      subscribeExportChannel(uuid, function() {
        $.get(url);
      });
      return false;
    })
  });
</script>
