<h1>Editing Digital Service Account</h1>

<%= render 'form', digital_service_account: @digital_service_account %>

<%= link_to 'Destroy', admin_digital_service_account_path(@digital_service_account), method: :delete, data: { confirm: 'Are you sure?' } %>
